{% load static %}

<!-- este modal-partial esta posicionado em cada pagina.html que precise dele -->

<div class="modelo-modal">
    <div class="fundo-modal">
        <div class="corpo-modal">
            <div class="fechar-modal">
                <a href="#"><i class="fas fa-times fa-2x fecha-modal"></i></a>
            </div>
            
            <!-- Todos os partials de formularios devem estar aqui -->

            {% include 'partials/formularios/form-plano.html' %}
            {% include 'partials/formularios/form-cadastro.html' %}

        </div>
    </div>
  </div>