.modelo-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
}

.fundo-modal{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 80%;
    border-radius: 10px;
    position: relative;
}

.corpo-modal{
    color: rgb(139, 138, 138);
}

.fechar-modal, .fechar-modal>a{
    margin: 10px 10px 0 0;
    text-align: right;
    color: rgb(139, 138, 138);
}
.fechar-modal a:hover{
    color: red;
}

.titulo-modal{
    text-align: center;
}

.input-modal{
    
}