/* line 13, SetupPrincipal/static/scss/responsive.scss */
.wrapper {
  font-size: calc((100vw - 300px) * 0.01074 + 11px); }
  @media (max-width: 300px) {
    /* line 13, SetupPrincipal/static/scss/responsive.scss */
    .wrapper {
      font-size: 11px; } }
  @media (min-width: 3000px) {
    /* line 13, SetupPrincipal/static/scss/responsive.scss */
    .wrapper {
      font-size: 40px; } }
