/* line 13, SetupPrincipal/static/scss/responsive.scss */
.wrapper {
  font-size: calc((100vw - 350px) * 0.00159 + 11px); }
  @media (max-width: 350px) {
    /* line 13, SetupPrincipal/static/scss/responsive.scss */
    .wrapper {
      font-size: 11px; } }
  @media (min-width: 6000px) {
    /* line 13, SetupPrincipal/static/scss/responsive.scss */
    .wrapper {
      font-size: 20px; } }
