/* line 13, SetupPrincipal/static/scss/responsive.scss */
.wrapper {
  font-size: calc((100vw - 100px) * 0.01 + 11px); }
  @media (max-width: 100px) {
    /* line 13, SetupPrincipal/static/scss/responsive.scss */
    .wrapper {
      font-size: 11px; } }
  @media (min-width: 3000px) {
    /* line 13, SetupPrincipal/static/scss/responsive.scss */
    .wrapper {
      font-size: 40px; } }
