/* line 16, SetupPrincipal/static/scss/responsive.scss */
.wrapper {
  font-size: calc((100vw - 400px) * 0.02955 + 12px); }
  @media (max-width: 400px) {
    /* line 16, SetupPrincipal/static/scss/responsive.scss */
    .wrapper {
      font-size: 12px; } }
  @media (min-width: 1280px) {
    /* line 16, SetupPrincipal/static/scss/responsive.scss */
    .wrapper {
      font-size: 38px; } }
