.box-noticias1{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.box-noticias1-1{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(20, 22, 112, 0.705);
    margin-bottom: 30px;
}

    .box-noticias1-1 > h5{
        font-size: 20px;
        color: rgb(101, 101, 102);
        margin: 10px;
        flex: 1;
    }
    .box-noticias1-1 > i{
        justify-content: center;
        align-items: center;
        color: rgb(101, 101, 102);
        margin: 10px 10px;
    }



.div-cards-noticias{
    display: flex;
    flex-direction: column;
}

.card-noticia{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 10px;
    border-bottom: 1px solid rgba(20, 22, 112, 0.705);
}
    .card-noticia p{
        margin: 10px 0;
        color: rgb(101, 101, 102);
    }
    .card-noticia a:hover{
        color: #1d1abc;
    }
    .card-noticia:hover{
        background-color: rgba(46, 137, 255, 0.137);
    }

.sub-card-noticia1{
    
}
    .sub-card-noticia1-img{
        color: rgb(101, 101, 102);
    }

.sub-card-noticia2{
    margin: 15px 0 0 20px;
}

.sub2-card-noticia{
    width: 500px;
}
    .sub2-card-noticia h2{
        color: #292874;
        margin: 0 0 10px 0;
    }

    .sub2-card-noticia p{
        text-align: left ;
    }