{% load static %}
<!-- HEADER -->
<div class="div-header-img">
    <img class="header-img" src="{% static 'img/header-hexagonal2.png' %}" alt="">
  </div>

  <div class="classe-div-header">
    <div class="classe-header1">
      <h1 class="header1">  S I P A  </h1>
      <h2 class="header1-1">  Sistema de Planos de Ação  </h2>
    </div>
    <!-- <div class="header-espacamento"></div> -->
    <div class="classe-header2">
      <img class="header-img-logo-bahia" src="{% static 'img/logo_bahia.png' %}" alt="Governo do estado">
      <h4 class="header2">  Secretaria da Educação  </h4>
    </div>
  </div>
  <!-- FIM HEADER -->