{% load static %}
<!-- MENU -->
<div class="classe-div-menu-lateral ">
    <div class="classe-menu-lateral1 borda1"><span class="span-menu">Menu</span></div>
      <ul class="classe-menu-lateral1 itens clear"><a class="item-principal-menu" href="#"><i class="fa fa fa-file margem-icones-menu"></i>Planos de ação<i class="arrow fa fa-angle-right pull-right setinha"></i></a>
          <ul class="sub-menu">
            {% if user.groups.get.name == 'Secretaria' or user.groups.get.name == 'Func_sec' %}
            <li class="sub-menu-item"><a href="{% url 'pagina_planos_de_acao' %}">Geral</a>
            </li>
            <li class="sub-menu-item"><a href="{% url 'pagina_planos_a_serem_corrigidos' 'slug' %}">Necessitando correção</a>
            </li>
            <li class="sub-menu-item"><a href="#">Corrigidos</a>
            </li>
            <li class="sub-menu-item"><a href="{% url 'pagina_planos_finalizados' %}">Finalizados</a>
            </li>
            {% elif user.groups.get.name == 'Diretor_escola' %}
            <li class="sub-menu-item"><a href="{% url 'pagina_planos_de_acao' %}">Meus planos de ação</a>
            </li>
            <li class="sub-menu-item"><a href="#">Enviados</a>
            </li>
            <li class="sub-menu-item"><a href="{% url 'pagina_planos_a_serem_corrigidos' 'slug' %}">Necessitando correção</a>
            </li>
            <li class="sub-menu-item"><a href="{% url 'pagina_planos_finalizados' %}">Planos finalizados</a>
            </li>
            {% elif user.groups.get.name == 'Funcionario' %}
            <li class="sub-menu-item"><a href="{% url 'pagina_planos_de_acao' %}">Planos de ação</a>
            </li>
            <li class="sub-menu-item"><a href="#">Planos enviados</a>
            </li>
            <li class="sub-menu-item"><a href="#">Planos pendentes</a>
            </li>
            <li class="sub-menu-item"><a href="{% url 'pagina_planos_finalizados' %}">Planos finalizados</a>
            </li>
            {% endif %}
          </ul>
      </ul>
      <ul class="classe-menu-lateral1 itens clear"><a class="item-principal-menu" href="#"><i class="fa fa-table margem-icones-menu"></i>Cadastros<i class="arrow fa fa-angle-right pull-right setinha"></i></a>
          <ul class="sub-menu">
            {% if user.groups.get.name == 'Secretaria' or user.groups.get.name == 'Func_sec' %}
            <li class="sub-menu-item"><a href="{% url 'chama_cadastros_secretaria' %}">Cadastro de Escolas</a>
            </li>
              {% if user.groups.get.name == 'Secretaria' or user.classificacao.usuario_diretor == True or user.classificacao.usuario_coordenador == True %}
                <li class="sub-menu-item"><a href="{% url 'cadastrar_funcionarios_secretaria' user.id 'Sim' %}">Cadastro de funcionários</a>
                </li>
              {% endif %}
            {% elif user.groups.get.name == 'Diretor_escola' %}
            <li class="sub-menu-item"><a href="{% url 'cadastrar_funcionarios' user.id %}">Cadastro de funcionários</a>
            </li>
            <li class="sub-menu-item"><a href="{% url 'cadastrando_turmas' user.id %}">Cadastro de Turmas</a>
            </li>
            {% endif %}
            <li class="sub-menu-item"><a href="{% url 'abre_meu_acesso' user.id %}">Meu acesso</a>
            </li>
          </ul>
      </ul>
      <ul class="classe-menu-lateral1 itens clear"><a class="item-principal-menu" href="#"><i class="fa fa-tasks margem-icones-menu"></i>Histórico<i class="arrow fa fa-angle-right pull-right setinha"></i></a>
          <ul class="sub-menu">
            {% if user.groups.get.name == 'Secretaria' or user.groups.get.name == 'Func_sec' %}
            <li class="sub-menu-item"><a href="#">Geral</a>
            </li>
            <li class="sub-menu-item"><a href="{% url 'chamando_log_planos' %}">Planos</a>
            </li>
            {% elif user.groups.get.name == 'Diretor_escola' %}
            <li class="sub-menu-item"><a href="#">Geral</a>
            </li>
            <li class="sub-menu-item"><a href="{% url 'chamando_log_planos' %}">Planos</a>
            </li>
            {% elif user.groups.get.name == 'Funcionario' %}
            <li class="sub-menu-item"><a href="#">Geral</a>
            </li>
            <li class="sub-menu-item"><a href="{% url 'chamando_log_planos' %}">Planos</a>
            </li>
            {% endif %}
            
          </ul>
      </ul>
  </div>
<!-- FIM MENU -->