{% load static %}
{% load custom_tags %}
<!-- NAVBAR -->
<div class="classe-div-navbar">
    <ul class="classe-navbar clear">
      <div class="sub-div-navbar1">
        {% tag_first_last_names user.first_name as nome_em_lista %}
        <li class=""><a href="{% url 'abre_meu_acesso' user.id %}"><i class="fa fa-user margem-icones-menu"></i>{{nome_em_lista|first}} {{nome_em_lista|last}}</a></li>
        {% if user.groups.get.name == 'Funcionario'  %}
        <li><a id="clear">{{user.classificacao.matriz}}</a></li>
        {% else %}
        <li><a id="clear">{{user.classificacao.escola.nome}}</a></li>
        {% endif %}
      </div>
      <div class="sub-div-navbar2">
        <li class="engrenagem"><a href="#"><i class="fa fa-cog"></i></a></li>
        <li class="dash-inicio"><a href="{% url 'dashboard' %}">Início</a></li>
        <li class="dash-sair"><a href="{% url 'fazendo_logout' %}">Sair</a></li>
      </div>
    </ul>
  </div>
<!-- FIM NAVBAR -->