.div-header-img{
    display: flex;
  }

  .header-img{
    width: 100%;
    display: flex;
    position: absolute;
    height: 144px;
    top: 0px;
  }

  .classe-div-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    position: relative;
    color: rgb(100, 100, 100);
  }
  
      .classe-header1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        flex: 1.3;
      }
        .header1{
          margin: 0;
          text-align: center;
        }

        .header1-1{
          margin: 0;
          text-align: center;
        }
  
        .header-espacamento{
          flex: 2.2;
        }

      .classe-header2{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0px;
        flex: 0.7;
      }

        .header2{
          padding: 0 0 10px 0;
          margin: 0 30px 10px 30px;
          border-bottom: 2px solid rgb(165, 164, 164);
        }

        .header-img-logo-bahia{
          align-self: center;
          width: 180px;
          height: 80px;
        }