.box-plano1{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.box-plano1-1{
    border-bottom: 1px solid rgba(20, 22, 112, 0.705);
    /* background-color: rgba(0, 60, 255, 0.089); */
}

    .box-plano1-1 > h5{
        color: rgb(101, 101, 102);
        margin: 10px;
        flex: 1;
        font-size: 20px;
    }

    .search-bar{
        padding: 2px;
        margin: 10px;
        margin-right: 0;
    }

        .search-bar:focus{
            outline: solid rgb(146, 157, 173) 1px;
        }

.box-plano1-2{
    display: flex;
    flex-direction: row;
    color: rgb(101, 101, 102);
}
    .box-plano1-2 h5{
        flex: 1;
        margin: 22px 0 5px 0;
        /* min-width: 139px; configurei in-line pois muda de acordo com o user*/
    }

.box-plano-1-2-compact{
    display: none;
    margin: 5px 0 0 5px;
    color: rgb(101, 101, 102);
}


.accordion-planos{
    background-color: rgb(235, 241, 247);
    display: none;
    flex-direction: row;
}

    .box-plano-accordion{
        flex-direction: row;
        color: rgb(101, 101, 102);
        margin-left: 10px;
    }

        .box-plano-accordion h5{
            flex: 1;
            margin: 10px 0 15px 5px;
        }

.background-accordion-planos{
    background-color: rgb(235, 241, 247);
}

.div-info-accordion{
    flex: 0.9;
}

.div-assinaturas-escolas{
    flex: 0.5;
}

    .div-assinaturas-escolas p{
        font-size: 14.4px;
    }

.div-assinaturas-suprot{
    flex: 0.7;
}

    .div-assinaturas-suprot p{
        font-size: 14.4px;
    }

.box-plano1-3 p{
    /* display: flex; */
    flex-direction: row;
    color: orangered;
    margin: 10px 0 0 10px;
    background-color: rgba(255, 94, 0, 0.418);
    border: 1px solid orangered;
    padding-left: 5px;
}

.box-plano1-3 a{
    text-decoration-line: underline;
    color: #1d1abc;
}

.div-cards-planos{
    display: flex;
    flex-direction: column;
}

.cards-planos-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
    border-bottom: 1px solid rgba(20, 22, 112, 0.705);
}
    .cards-planos-box p{
        margin: 10px 0;
        color: rgb(101, 101, 102);
    }
    .cards-planos-box a:hover i:hover{
        color: #1d1abc;
    }
    .cards-planos-box:hover{
        background-color: rgba(46, 137, 255, 0.137);
    }
    .itens-cards-planos{
        flex: 1;
    }
        .itens-cards-planos i:hover{
            color: #1d1abc;
        }

    .lixeira:hover{
        color: red;
    }

    .div-corretor-flex{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .div-corretor-flex h5{
        flex: 0;
        margin: 10px 0px;
    }

    .div-corretor-flex p{
        font-size: 0.9em;
        margin: 5px 0;
        margin-left: 5px;
    }

    .div-corretor-flex a{
        font-size: 0.9em;
        margin-left: 5px;
    }

.cards-planos{
    display: flex;
    flex-direction: row;
    flex: 1;
    /* margin-left: 10px; */
    border-bottom: 1px solid rgba(20, 22, 112, 0.705); 
}
    .cards-planos p{
        margin: 10px 0;
        color: rgb(101, 101, 102);
    }
    .p-situacao{
        min-width: 162px;
    }
    .cards-planos a:hover{
        color: #1d1abc;
    }
    .cards-planos:hover{
        background-color: rgba(46, 137, 255, 0.137);
    }
    .itens-cards-planos{
        flex: 1;
    }
    .p1-itens-cards-planos{
        min-width: 150px;
        color: rgb(101, 101, 102);
        margin: 10px 0;
    }
    .p2-itens-cards-planos{
        min-width: 131px;
    }
    .p3-itens-cards-planos{
        min-width: 109px;
    }
    .lixeira:hover{
        color: red;
    }

.box-legendas{
    display: flex;
    flex-direction: column;
}
    .box-legendas > h4{
        color: rgb(101, 101, 102);
        margin-top: 21px;
        margin-bottom: 10px;
    }
    .box-legendas > h5{
        margin: 10px 0;
        color: rgb(101, 101, 102);
    }
    .box-legendas > p{
        font-size: 0.9em;
        margin: 0 10px;
        color: rgb(101, 101, 102);
    }

.box-edit-erase-planos{
    min-width: 111px;
}

.box-edit-erase-planos-compacto{
    display: none;
}

.ul-mensagens{
    list-style: none;
    padding-left: 10px;
    margin-bottom: 0;
}

.li-mensagens{
    margin-bottom: 0%;
}

.div-botoes-criar{
    display: flex;
}

.a-fia{
    display: inline;
    color: blue !important;
    font-size: 10px;
}