/* ####### AMARELO ####### */
.tooltip1 {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
 .tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: rgb(245, 239, 212);
    color: rgb(7, 7, 7);
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.85em;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip1:hover .tooltiptext1 {
    visibility: visible;
    transition-delay: 1s;
  }

/* ################################## */

/* ####### AZUL ####### */
  .tooltip2 {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
 .tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: rgb(201, 224, 253);
    color: rgb(7, 7, 7);
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.85em;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    width: 200px;
    bottom: 100%;
    left: 150%;
    margin-left: -60px;
  }
  
  .tooltip2:hover .tooltiptext2 {
    visibility: visible;
    transition-delay: 0.5s;
  }

  /* ####################################### */

  /* ####### VERDE ####### */
  .tooltip3 {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
 .tooltip3 .tooltiptext3 {
    visibility: hidden;
    width: 120px;
    background-color: rgb(169, 250, 166);
    color: rgb(7, 7, 7);
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.85em;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    width: 200px;
    bottom: 100%;
    left: 150%;
    margin-left: -60px;
  }
  
  .tooltip3:hover .tooltiptext3 {
    visibility: visible;
    transition-delay: 0.5s;
  }

  /* ####################################### */

  /* ####### VERMELHO ####### */
  .tooltip4 {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
 .tooltip4 .tooltiptext4 {
    visibility: hidden;
    width: 120px;
    background-color: rgb(255, 159, 159);
    color: rgb(7, 7, 7);
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.85em;
    font-weight: 600;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 100%;
    margin-left: -60px;
  }
  
  .tooltip4:hover .tooltiptext4 {
    visibility: visible;
    transition-delay: 0.5s;
  }

  /* ####################################### */

/* ####### BRANCO ####### */
.tooltip5 {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip5 .tooltiptext5 {
  visibility: hidden;
  width: 120px;
  background-color: rgb(253, 253, 253);
  color: rgba(0, 0, 0, 0.705);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.568);
  /* border-radius: 6px; */
  padding: 5px 0;
  font-size: 0.7em;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 400px;
  bottom: 90%;
  left: 150%;
  margin-left: -60px;
}

.tooltip5:hover .tooltiptext5 {
  visibility: visible;
  transition-delay: 0.5s;
}

/* ####################################### */

  /* ####### TABELA AMARELO ####### */

  .tooltip1-tabela{
    position:relative;
  }

  /* ISSO FOI TRANSFERIDO PARA JQUERY pagina_acoes.js */
  /* .tooltip-tabelaX:hover span.tooltiptext-tabelaX{  
    display:block;
  } */

  .tooltiptext1-tabela {
    display:none;
    position:absolute; 
    z-index:100;
    width: 120px;
    background-color: rgb(250, 252, 121);
    color: rgb(7, 7, 7);
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.77em;
    font-weight: 600;
  
    width: 120px;
    bottom: 50%;
    left: 100%;
    margin-left: -0px;
  }

  /* ####################################### */

  /* ####### TABELA LARANJA ####### */

  .tooltip2-tabela{
    position:relative;
  }

  /* ISSO FOI TRANSFERIDO PARA JQUERY pagina_acoes.js */
  /* .tooltip-tabelaX:hover span.tooltiptext-tabelaX{  
    display:block;
  } */

  .tooltiptext2-tabela {
    display:none;
    position:absolute; 
    z-index:100;
    width: 130px;
    background-color: rgb(255, 138, 42);
    color: rgb(7, 7, 7);
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.77em;
    font-weight: 600;
  
    width: 130px;
    bottom: 50%;
    left: 100%;
    margin-left: -0px;
  }

/* ####################################### */

  /* ####### TABELA LARANJA DESPESAS ####### */

  .tooltip3-tabela{
    position:relative;
  }

  /* ISSO FOI TRANSFERIDO PARA JQUERY pagina_acoes.js */
  /* .tooltip-tabelaX:hover span.tooltiptext-tabelaX{  
    display:block;
  } */

  .tooltiptext3-tabela {
    display:none;
    position:absolute; 
    z-index:100;
    width: 130px;
    background-color: rgb(255, 138, 42);
    color: rgb(7, 7, 7);
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.77em;
    font-weight: 600;
  
    width: 130px;
    bottom: 100%;
    left: 100%;
    margin-left: 30px;
    margin-bottom: -23px;
  }

/* ####################################### */

  /* ####### TABELA AMARELA DESPESAS ####### */

  .tooltip4-tabela{
    position:relative;
  }

  /* ISSO FOI TRANSFERIDO PARA JQUERY pagina_acoes.js */
  /* .tooltip-tabelaX:hover span.tooltiptext-tabelaX{  
    display:block;
  } */

  .tooltiptext4-tabela {
    display:none;
    position:absolute; 
    z-index:100;
    width: 130px;
    background-color: rgb(250, 252, 121);
    color: rgb(7, 7, 7);
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.77em;
    font-weight: 600;
  
    width: 130px;
    bottom: 100%;
    left: 100%;
    margin-left: 30px;
    margin-bottom: -23px;
  }

/* ####################################### */

  /* ####### TABELA AZUL MENU ORDENS ####### */

  .tooltip5-menu{
    position:relative;
  }

  /* ISSO FOI TRANSFERIDO PARA JQUERY pagina_acoes.js */
  /* .tooltip-tabelaX:hover span.tooltiptext-tabelaX{  
    display:block;
  } */

  .tooltiptext5-tabela {
    display: none;
    position: absolute; 
    z-index:100;
    width: 130px;
    /* background-color: rgb(36, 46, 143); */
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(69,88,112,1) 6%, rgba(9,37,87,1) 100%);
    color: rgb(255, 254, 254);
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.77em;
    font-weight: 600;
  
    height: 30px;
    width: 130px;
    bottom: 73%;
    left: 13%;
    margin-left: 30px;
    margin-bottom: -23px;
  }

/* ####################################### */

  /* ####### TABELA AZUL MENU CODIGOS ####### */

  .tooltip6-menu{
    position:relative;
  }

  /* ISSO FOI TRANSFERIDO PARA JQUERY pagina_acoes.js */
  .tooltip6-menu:hover span.tooltiptext6-tabela {  
    display:block;
  }

  .tooltiptext6-tabela {
    display: none;
    position: absolute; 
    z-index:100;
    width: 130px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(69,88,112,1) 6%, rgba(9,37,87,1) 100%);
    color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.77em;
    font-weight: 600;
  
    height: 30px;
    width: 130px;
    bottom: 73%;
    left: 13%;
    margin-left: 30px;
    margin-bottom: -23px;
  }

  /* ####################################### */

  /* ####### TABELA BRANCO MENU IMPRESSAO ####### */

  .tooltip7-menu{
    position:relative;
  }

  /* ISSO FOI TRANSFERIDO PARA JQUERY pagina_acoes.js */
  .tooltip7-menu:hover span.tooltiptext7-tabela {  
    display:block;
  }

  .tooltiptext7-tabela {
    display: none;
    position: absolute; 
    z-index:100;
    width: auto;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 100%);
    color: rgba(0, 0, 0, 0.705);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.568);
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.77em;
    font-weight: 600;
  
    height: 30px;
    width: auto;
    bottom: 50%;
    left: 13%;
    margin-left: 30px;
    margin-bottom: -23px;
    padding: 5px;
  }