.classe-div-container-corpo{
    display: flex;
    /* border: 1px solid black; */
    flex: 5;
    overflow-y: auto;
    margin: 15px;
  }

  .classe-div-container-corpo-profile{
    display: block !important;
  }

      .classe-texto-container-corpo{
        border: 1px solid black;
      }

.classe-div-container-corpo-visualizacao{
  display: block;
  /* border: 1px solid black; */
  flex: 5.5;
  overflow-y: auto;
  overflow-x: auto;
  margin: 20px 1% 20px 1%;
  /* border: 1px solid rgb(250, 8, 8); */
  position: relative;
}

  .classe-texto-container-corpo-visualizacao{
    border: 1px solid black;
  }

  .classe-div-container-corpo-correcoes{
    /* display: flex; */
    /* border: 1px solid black; */
    flex: 5;
    overflow-y: auto;
    margin: 15px;
  }

      .classe-texto-container-corpo-correcoes{
        border: 1px solid black;
      }