.div-header-img{
    display: flex;
  }

  .header-img{
    width: 100%;
    display: flex;
    position: absolute;
    height: 144px;
    top: 0px;
  }

  .classe-div-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 50px 10px;
    position: relative;
    color: rgb(100, 100, 100);
  }
  
      .classe-header1{
        margin: 0px;
        flex: 1;
      }
  
      .classe-header3{
        text-align: right;
        margin: 0px;
        flex: 1;
      }