.bloco-aside{
    float: left;
    position: relative;
    padding: 0px;
    bottom: 0px;
    width: 240px;
    border-left: 1px solid #cfcfcf;
    border-top: 2px solid #cfcfcf;
}

.nano-content{
    height: 100%; 
  }