.classe-div-navbar{
    flex-direction: row;
    border: 1px solid rgb(109, 109, 109);
    background-color:#293949;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.37);
  }
  
      .classe-navbar{
        display: flex;
        margin: 15px;
        padding: 0;
        text-align: center;
      }

      .classe-navbar li{
        font-size:18px;
        padding: 0 20px;
        border-right: 1px solid rgb(231, 231, 231);
      }
        .classe-navbar li a{
          opacity:1;
        }

          .classe-navbar li a:hover{
            opacity:1;
            color: #1abc9c;
          }

      .classe-navbar li:nth-child(1){
        flex: 0.5;
      }

      .classe-navbar li:nth-child(2){
        flex: 0.5;
      }

      .classe-navbar li:nth-child(3){
        flex: 5;
        text-align: end;
      }

      .classe-navbar li:nth-child(2) a{
        /* color: red; */
      }