.classe-div-navbar{
    flex-direction: row;
    border: 1px solid rgb(109, 109, 109);
    background-color:#293949;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(69,88,112,1) 6%, rgba(9,37,87,1) 100%);
    box-shadow: 14px 9px 12px 1px rgb(0 0 0 / 40%);
  }
  
      .classe-navbar{
        display: flex;
        margin: 5px;
        padding: 0;
        text-align: center;
        justify-content: space-between;
      }

      .classe-navbar li{
        font-size:18px;
        padding-left: 20px;
        border-right: 1px solid rgb(231, 231, 231);
      }

          .classe-navbar li a:hover{
            opacity:1;
            color: #1abc9c;
          }

      .sub-div-navbar1{
        display: flex;
      }
      .sub-div-navbar2{
        display: flex;
      }

      .sub-div-navbar1 li{
        padding-right: 20px;
      }
      .sub-div-navbar2 li{
        padding-right: 20px;
      }
        .sub-div-navbar1 li:nth-child(2){
          border: none;
        }
        .sub-div-navbar2 li:nth-child(1){
          display: none;
          border: none;
        }
        .sub-div-navbar2 li:nth-child(2){
          
        }
        .sub-div-navbar2 li:nth-child(3){
          border: none;
        }