.classe-pagination{
    margin: 5px 0 0 10px;
}

.classe-pagination a{
    font-size: 14px;
    padding: 3px 9px;
}

.classe-pagination a:hover{
    color: rgb(189, 189, 255) !important;
}

.page-item.active .page-link {
    background-color: rgb(9 37 87 / 80%);
    border-color: rgb(101 101 102 / 28%);
}