<html lang="pt-br"><head>
    <title>Digite a nova senha</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    
    
    
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
        
    
    <meta name="robots" content="NONE,NOARCHIVE">
    </head>
    
    
    <body class="" data-admin-utc-offset="-10800">
    {% load i18n static %}
    
    <!-- Container -->
    <div id="container">
    
        
        <!-- Header -->
        <div id="header">
            <div id="branding">
            
    <h1 id="site-name"><a href="#">Administração SIPA - Sistema de Planos de Ação</a></h1>
    
            </div>
         
        </div>
        <!-- END Header -->
        
    <div class="breadcrumbs">
    <a href="{% url 'fazendo_login' %}">Início</a>
    › Confirmação de recuperação de senha
    </div>
    
        
    
        <div class="main shifted" id="main">
          
          <div class="content">
            
              
            
            <!-- Content -->
            <div id="content" class="colM">
              
              <h1>Configuração de nova senha</h1>
              
    
    
    {% if validlink %}
    
    <p>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
    
    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Nova senha:</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirme a senha:</label>
                {{ form.new_password2 }}
            </div>
            <input type="submit" value="{% translate 'Change my password' %}">
        </fieldset>
    </form>
    
    {% else %}

    <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    
    {% endif %}
    
    
              
              <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer"></div>
          </div>
        </div>
    </div>
    <!-- END Container -->
    
    
    </body></html>