<html lang="pt-br"><head>
    <title>Redefinição de senha completa</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    
    
    
    
    
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
        
    
    <meta name="robots" content="NONE,NOARCHIVE">
    </head>
    
    
    <body class="" data-admin-utc-offset="-10800">
    
    <!-- Container -->
    <div id="container">
    
        
        <!-- Header -->
        <div id="header">
            <div id="branding">
            
    <h1 id="site-name"><a href="#">Administração SIPA - Sistema de Planos de Ação</a></h1>
    
            </div>
            
            
            
            
        </div>
        <!-- END Header -->
        
    <div class="breadcrumbs">
    <a href="{% url 'fazendo_login' %}">Início</a>
    › Redefinição de senha
    </div>
    
        
    
        <div class="main shifted" id="main">
          
          <div class="content">
            
              
            
            <!-- Content -->
            <div id="content" class="colM">
              
              <h1>Redefinição de senha completa</h1>
              
    
    <p>Sua senha foi redefinida. Você pode prosseguir e acessar agora usando a nova senha.</p>
    
    <p><a href="{% url 'fazendo_login' %}">Acessar</a></p>
    
    
              
              <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer"></div>
          </div>
        </div>
    </div>
    <!-- END Container -->
    
    
    </body></html>