<html lang="pt-br"><head>
    <title>Recuperar senha</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    
    
    
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
        
    
    <meta name="robots" content="NONE,NOARCHIVE">
    </head>
    
    
    <body class="" data-admin-utc-offset="-10800">
    
    <!-- Container -->
    <div id="container">
    
        
        <!-- Header -->
        <div id="header">
            <div id="branding">
            
    <h1 id="site-name"><a href="#">Administração SIPA - Sistema de Planos de Ação</a></h1>
    
            </div>
            
            
            
            
        </div>
        <!-- END Header -->
        
    <div class="breadcrumbs">
    <a href="{% url 'fazendo_login' %}">Início</a>
    › Reinicializar senha
    </div>
    
        
    
        <div class="main shifted" id="main">
          
          <div class="content">
            
              
            
            <!-- Content -->
            <div id="content" class="colM">
              
              <h1>Reinicialização de senha</h1>
              
    
    <p>Deseja reinicializar sua senha? Forneça seu endereço de e-mail cadastrado abaixo, e nós te enviaremos um email com instruções para configurar uma nova.</p>
    
    <form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="ChYUJqhp3wA1sqyxKRKezX2HqjvV2wx7N53tLS6iEXq5WfmgbSyZEzI43dtkMO7T">
        {% csrf_token %}
        <fieldset class="module aligned">
        <div class="form-row field-email">
            
            <label for="id_email">Endereço de email:</label>
            
            <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" style="width: 250px">
            <input type="text" name="text" autocomplete="nao-faca" hidden="True" maxlength="254" id="id_text" value="None">
            
        </div>
        <input type="submit" value="Reinicializar minha senha">
    </fieldset>
    </form>
    
    
              
              <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer"></div>
          </div>
        </div>
    </div>
    <!-- END Container -->
    
    
    </body></html>