/* :: 1.0 Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
/* @import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css"); */
/* :: 2.0 Import All CSS */
/* @import url(css/reset.css); */
/* @import url(css/style.css); */
@import url(css/conteiner_corpo_menu.css);
@import url(css/header.css);
@import url(css/navbar.css);
@import url(css/menu.css);
@import url(css/menu_edicao.css);
@import url(css/corpo.css);
@import url(css/footer.css);
@import url(css/media.css);
@import url(css/planos_de_acao.css);
@import url(css/noticias.css);
@import url(css/cadastros.css);
@import url(css/buttons.css);
@import url(css/modal.css);
@import url(css/forms.css);
@import url(css/visualizacao.css);
@import url(css/tooltips.css);
@import url(css/correcoes.css);
@import url(css/imprimir.css);
@import url(css/avulsos.css);
@import url(css/profile.css);
@import url(css/pagination.css);
@import url(css/menu_impressao.css);

body{
    margin: 0px;
    min-width: 368px;
  }
  
* {
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif ;
}


/* Todos os "<li>" e "<a>" terão esta formatação */
.clear li{
  list-style: none;
}

.clear a{
  text-decoration: none;
  color: rgb(206, 206, 206);
}

.clear-2 a{
  text-decoration: none;
  color: rgb(101, 101, 102);
}

.a-clear-acao{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.a-cadastros{
  color: rgb(255, 255, 255) !important;
  text-decoration: none 
}

#clear{
  text-decoration: none;
  color: rgb(206, 206, 206) !important;
}

/* FUNCIONA */
/* a:not([href]):not([tabindex]) {
  color: rgb(21, 248, 0) !important;
  text-decoration: none !important;
} */

/* a:hover{
  color: white !important;
  text-decoration: none !important;
} */

/* ------------------------------------------ */
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* formatação geral */

.flex-02{
  flex: 0.2 !important;
}

/* impede seleção de partes da tabela */

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}