{% extends 'base-visualizacao.html' %}
{% load static %}
{% load definir_acoes %} <!-- carrega uma template tag (ver txt 30 do tutorial) -->
{% load custom_tags %}
{% block content %}

{{ chave_lista_ordens|json_script:"id-do-json" }}
{{ chave2_lista_ordens|json_script:"id-lista2-ordens" }}
{{ chave_sugestoes_acoes_concluidas|json_script:"id-chave-sugestoes-acoes-concluidas" }}
{{ chave_devolvido|json_script:"id-chave-devolvido" }}
{{ chave_tipo_usuario|json_script:"id-tipo-usuario" }}
{{ chave_situacao_plano|json_script:"id-situacao-plano" }}
{{ chave_q_linha|json_script:"id-q-linha" }}
{{ chave_apos_print|json_script:"id-apos-print" }}

<!-- <div class="box-botao-cadastro1">
    <a class="myButton a-cadastros" href="{% url 'gera_pdf_acao' chave_planos.id %}">PDF</a>
</div> -->
<!-- <button onclick="window.print()">Print this page</button> -->
<!-- <button id="impressao" class="myButton a-cadastros">PRINT</button> -->
<!-- <input id="impressao" type="button" onclick="printDiv('imprimir')" value="print a div!"> -->
<!-- <input id="impressao" type="button" value="Print Div" onclick="javascript:printDiv('imprimir')" /> -->


<div id="imprimir" class="div-visualizacao-bloco">

    {% if messages %}
    <ul class="ul-mensagens" style="padding: 0%;">
        {% for message in messages %}
        <li{% if message.tags %} class="alert alert-{{ message.tags }} li-mensagens"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="div-visualizacao-img">
        <img class="visualizacao-img" src="{% static 'img/cabecalho_visualizacaopng.png' %}" alt="">
    </div>

    <table class="div-unidade-bloco tabela-unidade">
    {% if chave_contexto_extra_corrigir %}
        <!-- verificacao para saber se a segunda views abre com o contexto extra pro modal -->
    {% endif %}

    {% if chave_planos2 %}
    {% for plano in chave_planos2 %}
        <tr>
            <td colspan="2"> UNIDADE: {{ plano.usuario.last_name }}</td>
        </tr>
        <tr class="linha-municipio">
            <td>MUNICÍPIO: {{ plano.usuario.classificacao.municipio }}</td>
            <td>DIREC: {{ plano.usuario.username }}</td>
        </tr>
        
    </table>

    <div class="titulo-plano">
        <h5 style="margin-top: 30px;">PLANO: {{ chave_planos.ano_referencia }}</h5>
        <h5>1 - IDENTIFICAÇÃO DAS AÇÕES</h5>
    </div>

    <table class="tabela-principal quebra-pagina">
        <tr>
            <th colspan="2"> Problema </th>
            <th colspan="2"> Ações financiáveis </th>
            <th colspan="2", style="width: 158px;"> Prazo execução </th>
            <th rowspan="2", style="width: 200px;"> Resultados esperados </th>
        </tr>

        <tr>
            <th style="width: 100px;"> Nº Ordem </th>
            <th style="width: 350px;"> Descrição </th>
            <th> Código </th>
            <th style="width: 350px;"> Descrição </th>
            <th style="width: 79px;"> Início </th>
            <th style="width: 79px;"> Fim </th>
        </tr>

        <!-- GERAÇÃO DAS ORDENS -->
        {% for ordem in chave_ordens2 %}  <!-- PARA TODAS AS ORDENS DO PLANO X -->

        {% if ordem.inserida %}  <!-- SE ORDEM INSERIDA -->
        

            <!--  SE ORDEM INSERIDA, MAS CODIGOS NÃO INSERIDOS -->
            {% if ordem.codigos_inseridos == 0 %}
            <tr class="cards-ordens-visualizacao tr-dinamicos{{ordem.identificacao_numerica}}">
                {% if user.classificacao.tipo_de_acesso == 'Secretaria' or user.classificacao.tipo_de_acesso == 'Func_sec' %}
                    {% if ordem.possui_sugestao_correcao %}
                    <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;"> <a class="a-clear-acao desabilita-js" href="{% url 'chamando_correcao_acao_plano' plano.id ordem.id %}"><div style="height:100%;width:100%">{{ordem.identificacao_numerica}} <span class="tooltiptext2-tabela"> <i class="fas fa-edit"></i> Alterar correção!</span> </div> </a> </td>
                    {% else %}
                    <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;"> <a class="a-clear-acao desabilita-js" href="{% url 'chamando_correcao_acao_plano' plano.id ordem.id %}"><div style="height:100%;width:100%">{{ordem.identificacao_numerica}} <span class="tooltiptext1-tabela"> <i class="fa-solid fa-arrow-left"></i> Sugerir correção!</span> </div> </a> </td>
                    {% endif %}
                {% elif user.classificacao.tipo_de_acesso == 'Escola' %}
                    {% if ordem.possui_sugestao_correcao %}
                    <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;"> <a class="a-clear-acao" href="{% url 'abrindo_correcao_acao' plano.id ordem.identificacao_numerica 'Sim' %}"><div style="height:100%;width:100%">{{ordem.identificacao_numerica}} <span class="tooltiptext2-tabela"> <i class="fas fa-edit"></i> Corrigir!</span> </div> </a> </td>
                    {% else %}
                    <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;"> <a class="a-clear-acao" ><div style="height:100%;width:100%">{{ordem.identificacao_numerica}} </div> </a> </td>
                    {% endif %}
                {% elif user.classificacao.tipo_de_acesso == 'Funcionario' %}
                    <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;"> <a class="a-clear-acao" ><div style="height:100%;width:100%">{{ordem.identificacao_numerica}} </div> </a> </td>
                {% endif %}

                <td class="tds-trs-{{ordem.identificacao_numerica}}" style="width: 200px;"> {{ordem.descricao_do_problema}} </td>
                <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;">  </td>
                <td class="tds-trs-{{ordem.identificacao_numerica}}" style="width: 300px;"> </td>
                <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center; width: 80px;">  </td>
                <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;width: 80px;">  </td>
                <td class="tds-trs-{{ordem.identificacao_numerica}}" style="width: 250px;"> {{ordem.resultados_esperados}} </td>
            </tr>
            
            {% endif %}

            <!-- INSERE QUEBRA DE LINHA NA IMPRESSÃO EM ORDENS QUE ** NAO** CONTÉM CODIGOS ADICIONADOS -->
            {% if ordem.quebra_de_linha > 0 and ordem.codigos_inseridos == 0 %}

                {% tag_loop1 ordem.quebra_de_linha as valor_linhas %}
                {% for quantidade in valor_linhas %}
                    <tr class="tr-extra display-none2">
                        <td style="border: none;"> 
                        </td>
                    </tr>
                {% endfor %}

            {% endif %}
            <!-- ******** -->

            <!--  SE ORDEM INSERIDA, E CONTÉM CODIGOS INSERIDOS -->

            {% if ordem.inserida and ordem.codigos_inseridos != 0 %}

                
                {% set '' as var1 %} <!-- FORA DO FOR DOS CODIGOS. Variável que controla a renderização da rowspan somente na primeira passagem da ordem-->
                {% for item in chave_codigos %} <!-- PARA CADA CODIGO -->
                    {% if item.inserido  and item.ordem.identificacao_numerica == ordem.identificacao_numerica %}  <!-- SE A ORDEM DESTE CODIGO = INSTANCIA DA ORDEM ATUAL -->
                    <tr class=" cards-ordens-visualizacao tr-dinamicos{{item.ordem.identificacao_numerica}}" >
                        {% if not var1 %}

                        {% if user.classificacao.tipo_de_acesso == 'Secretaria' or user.classificacao.tipo_de_acesso == 'Func_sec' %}
                            {% if ordem.possui_sugestao_correcao %}
                            <td class="tds-trs-{{ordem.identificacao_numerica}}" rowspan="{{ordem.ordem_rowspan}}" style="text-align: center;"> <a class="a-clear-acao desabilita-js" href="{% url 'chamando_correcao_acao_plano' plano.id ordem.id %}"><div style="height:100%;width:100%">{{ordem.identificacao_numerica}} <span class="tooltiptext2-tabela"> <i class="fas fa-edit"></i> Alterar correção!</span> </div> </a> </td>
                            {% else %}
                            <td class="tds-trs-{{ordem.identificacao_numerica}}" rowspan="{{ordem.ordem_rowspan}}" style="text-align: center;"> <a class="a-clear-acao desabilita-js" href="{% url 'chamando_correcao_acao_plano' plano.id ordem.id %}"><div style="height:100%;width:100%">{{ordem.identificacao_numerica}} <span class="tooltiptext1-tabela"> <i class="fa-solid fa-arrow-left"></i> Sugerir correção!</span> </div> </a> </td>
                            {% endif %}
                        {% elif user.classificacao.tipo_de_acesso == 'Escola' %}
                            {% if ordem.possui_sugestao_correcao %}
                            <td class="tds-trs-{{ordem.identificacao_numerica}}" rowspan="{{ordem.ordem_rowspan}}" style="text-align: center;"> <a class="a-clear-acao" href="{% url 'abrindo_correcao_acao' plano.id ordem.identificacao_numerica 'Sim' %}"><div style="height:100%;width:100%">{{ordem.identificacao_numerica}} <span class="tooltiptext2-tabela"> <i class="fas fa-edit"></i> Corrigir!</span> </div> </a> </td>
                            {% else %}
                            <td class="tds-trs-{{ordem.identificacao_numerica}}" rowspan="{{ordem.ordem_rowspan}}" style="text-align: center;"> <a class="a-clear-acao"><div style="height:100%;width:100%">{{ordem.identificacao_numerica}} </div> </a> </td>
                            {% endif %}
                        {% elif user.classificacao.tipo_de_acesso == 'Funcionario' %}
                            <td class="tds-trs-{{ordem.identificacao_numerica}}" rowspan="{{ordem.ordem_rowspan}}" style="text-align: center;"> <a class="a-clear-acao"><div style="height:100%;width:100%">{{ordem.identificacao_numerica}} </div> </a> </td>
                        {% endif %}


                        <td class="tds-trs-{{ordem.identificacao_numerica}}" rowspan="{{ordem.ordem_rowspan}}" style="width: 200px;"> {{ordem.descricao_do_problema}} </td>
                        {% endif %}

                        {% if item.ordem.identificacao_numerica == ordem.identificacao_numerica %}  <!-- SE A ORDEM DESTE CODIGO = INSTANCIA DA ORDEM ATUAL -->
                            {% if ordem.codigos_inseridos >= 1 %}  <!-- SE HOUVER AO MINIMO 1 CODIGO DESTA ORDEM INSERIDO -->
                                
                                <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;"> {{ordem.identificacao_numerica}}{{item.identificacao}}  </td>
                                <td class="tds-trs-{{ordem.identificacao_numerica}}" style="width: 300px;"> {{item.especificacao}} </td>
                                {% if user.classificacao.tipo_de_acesso == 'Escola' or user.classificacao.tipo_de_acesso == 'Funcionario' %}
                                <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;"> {{ordem.prazo_execucao_inicial|date:'M/Y'}}  </td>
                                <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;"> {{ordem.prazo_execucao_final|date:'M/Y'}}  </td>
                                {% elif user.classificacao.tipo_de_acesso == 'Secretaria' or user.classificacao.tipo_de_acesso == 'Func_sec' %}

                                    {% if ordem.prazo_execucao_inicial is not None %}
                                        <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;"><a class="a-clear-href a-impressao desabilita-js" href="{% url 'chamando_acao_plano_datas' chave_planos.id ordem.id %}"> {{ordem.prazo_execucao_inicial|date:'M/Y'}} </a> </td>
                                    {% else %}
                                        <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;"><a class="impressao-none desabilita-js" href="{% url 'chamando_acao_plano_datas' chave_planos.id ordem.id %}"><i class="fas fa-edit margem-icones-menu"></i></a></td>
                                    {% endif %}
                                    {% if ordem.prazo_execucao_final is not None %}
                                        <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;"><a class="a-clear-href a-impressao desabilita-js" href="{% url 'chamando_acao_plano_datas' chave_planos.id ordem.id %}">{{ordem.prazo_execucao_final|date:'M/Y'}} </a> </td>
                                    {% else %}
                                        <td class="tds-trs-{{ordem.identificacao_numerica}}" style="text-align: center;"><a class=" impressao-none desabilita-js" href="{% url 'chamando_acao_plano_datas' chave_planos.id ordem.id %}"><i class="fas fa-edit margem-icones-menu"></i></a></td>
                                    {% endif %}

                                {% endif %}

                            {% endif %}
                        {% endif %}
                        
                        

                        {% if not var1 %}
                        <td class="tds-trs-{{ordem.identificacao_numerica}}" rowspan="{{ordem.ordem_rowspan}}" style="width: 250px;"> {{ordem.resultados_esperados}} </td>
                        {% endif %}
                        
                        {% if ordem.identificacao_numerica == 3 %} <!-- teste -->

                        {% endif %}
                    </tr>
                    
                    {% set 'true' as var1 %}    <!-- SÓ DESABILITA RENDERIZAÇÃO DOS ROWSPAN QUANDO RENDERIZAR O PRIMEIRO CODIGO DISPONIVEL    -->
                    {% endif %}
                
                    

                {% endfor %}

                <!-- INSERE QUEBRA DE LINHA NA IMPRESSÃO EM ORDENS QUE CONTÉM CODIGOS ADICIONADOS -->
                {% if ordem.quebra_de_linha > 0 %}

                    {% tag_loop1 ordem.quebra_de_linha as valor_linhas %}
                    {% for quantidade in valor_linhas %}
                        <tr class="tr-extra display-none2">
                            <td style="border: none;"> 
                            </td>
                        </tr>
                    {% endfor %}

                {% endif %}
                <!-- ********* -->

            {% endif %}
            


                
                    
            
        



        {% else %}  <!-- SE ORDEM NAO INSERIDA -->
        
        <!-- ORDEM NAO INSERIDA, NAO RENDERIZA NADA -->

        {% endif %}
        {% endfor %}

        <!-- FIM DA GERAÇÃO DAS ORDENS -->
        
        </table>

        <!-- <div class="pagebreak"> </div>
        <div class="pagebreak"> </div> -->

        <!-- <div style="break-before:page"></div>
        <div style="break-after:page"></div> -->

        <!-- <p style="page-break-before: always;">&nbsp;</p>
        <p style="page-break-after: always;">&nbsp;</p> -->
        
        
        <table class="tabela-principal quebra-pagina2">

            <tr>
                <th colspan="4"> APROVAÇÃO UNIDADE ESCOLAR </th>
                <td colspan="2", rowspan="0", style="width: 100px;">  </td> <!-- celula vazia -->
                <th rowspan="2"> APROVAÇÃO SUPROT </th>
            </tr>

            <tr>
                {% if chave_planos.data_assinaturas_escola %}
                <td colspan="3" style="text-align: left"> DATA: {{chave_planos.data_assinaturas_escola}} </td>
                {% else %}
                <td colspan="3" style="text-align: left"> DATA: </td>
                {% endif %}
            </tr>

            <tr>
                <th style="width: 100px;"> POSIÇÃO </th>
                <th> NOME </th>
                <th colspan="2", style="width: 200px;"> ASSINATURA </th>
                {% if chave_planos.data_assinaturas_suprof %}
                <td colspan="3" style="text-align: left"> DATA: {{chave_planos.data_assinaturas_suprof}} </td>
                {% else %}
                <td colspan="3" style="text-align: left"> DATA: </td>
                {% endif %}
            </tr>

            <tr>
                <td style="text-align: center;"> Presidente Cx Escolar </td>
                <td style="text-align: center;width: 200px;font-weight: bold;"> {{plano.usuario.first_name}} </td>
                
                <!-- ASSINATURA DIRETOR -->
                {% if plano.classificacao_set.all %}
                        {% tag_any plano.usuario plano.classificacao_set.all as var3 %}
                        {% if var3 and plano_aprovado or var3 and chave_planos.alterabilidade == 'Desativada' %}
                            {% if plano.usuario.classificacao.assinatura %}
                            <td colspan="2"> <img class="assinaturas-foto-size" src="{{ plano.usuario.classificacao.assinatura.url }}" alt=""> </td>
                            {% else %}
                            <td colspan="2", class="assinaturas", style="text-align: center;font-style: italic;font-family: Vladimir Script;font-size: 26px;"> {{plano.usuario.first_name}} </td>
                            {% endif %}
                        {% else %}
                        <td colspan="2", style="text-align: center;">  </td>
                        {% endif %}
                {% else %}
                    <td colspan="2", style="text-align: center;">  </td>
                {% endif %}
                <!-- ******** -->
                <td class="size-11"> CADASTRO: </td>
            </tr>

            <tr>
                <td style="text-align: center;"> Tesoureiro(a) </td>
                {% for funcionarios in chave_funcionarios %}
                    {% if funcionarios.user.last_name == 'Tesoureiro(a)' %}
                    <td style="text-align: center;width: 200px;font-weight: bold;"> {{funcionarios.user.first_name}} </td>
                    {% endif %}
                {% endfor %}

                <!-- ASSINATURA TESOUREIRO -->
                {% if plano.classificacao_set.all %}
                    {% tag_any2 chave_funcionarios plano.classificacao_set.all as var3 %}
                    {% if var3 and plano_aprovado or var3 and chave_planos.alterabilidade == 'Desativada' %}
                        {% if var3.user.classificacao.assinatura %}
                        <td colspan="2"> <img class="assinaturas-foto-size" src="{{ var3.user.classificacao.assinatura.url }}" alt=""> </td>
                        {% else %}
                        <td colspan="2", class="assinaturas", style="text-align: center;font-style: italic;font-family: Vladimir Script;font-size: 26px;"> {{var3.user.first_name}} </td>
                        {% endif %}
                    {% else %}
                    <td colspan="2", style="text-align: center;">  </td>
                    {% endif %}
                {% else %}
                    <td colspan="2", style="text-align: center;">  </td>
                {% endif %}
                <!-- ********* -->

                <td class="size-11"> VISTO SUPROT: </td>
            </tr>


            {% tag_len_suprof plano.classificacao_set.all as len_suprof %}
            
            {% set '' as var2 %}
            {% for funcionarios in chave_membros_colegiado %}  
            <tr>        
                    {% if not var2 %}
                        {% if varmembros > 0 %}
                        <td rowspan="4", style="text-align: center;"> Membros do colegiado escolar </td>
                        {% else %}
                        <td style="text-align: center;"> Membros do colegiado escolar </td>
                        {% endif %}
                    {% endif %}
                    
                        {% if funcionarios.user.last_name == 'Membro do colegiado' %}
                        <td style="text-align: center;width: 200px;font-weight: bold;"> {{funcionarios.user.first_name}} </td>

                        <!-- ASSINATURA MEMBROS DO COLEGIADO -->
                            {% if plano.classificacao_set.all %}
                                {% tag_any3 funcionarios plano.classificacao_set.all as var3 %}
                                {% if var3 and plano_aprovado or var3 and chave_planos.alterabilidade == 'Desativada' %}
                                    {% if var3.user.classificacao.assinatura %}
                                    <td colspan="2"> <img class="assinaturas-foto-size" src="{{ var3.user.classificacao.assinatura.url }}" alt=""> </td>
                                    {% else %}
                                    <td colspan="2", class="assinaturas", style="text-align: center;font-style: italic;font-family: Vladimir Script;font-size: 26px;"> {{var3.user.first_name}}</td>
                                    {% endif %}
                                {% else %}
                                <td colspan="2", style="text-align: center;">  </td>
                                {% endif %}
                            {% else %}
                                <td colspan="2", style="text-align: center;">  </td>
                            {% endif %}
                        <!-- *********** -->

                        {% endif %}   

                <!-- ASSINATURAS FUNC_SEC -->
                {% if plano.alterabilidade == 'Desativada' %}
                    {% if forloop.counter0 < len_suprof %}
                    {% tag_assinaturas_suprof forloop.counter0 plano.classificacao_set.all as Func_sec %}
                        {% if Func_sec.assinatura %}
                        <td style="text-align: left" class="size-11"> {{Func_sec}} <img class="assinaturas-foto-size display-block" src="{{ Func_sec.assinatura.url }}" alt=""> </td>
                        {% else %}
                        <td style="text-align: left" class="size-11"> {{Func_sec}} <p class="assinaturas assinatura-style", style="text-align: left;font-style: italic;margin: 0;"> {{Func_sec}} </p> </td>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <!-- ******** -->

            </tr>
            
            {% set 'true' as var2 %}
            {% endfor %}  

            

        </table>
    
    {% endfor %}
    {% endif %}
    
    
</div>




{% include 'partials/modal-partial-correcao.html' %}
{% include 'partials/modal-confirma.html' %}

{% endblock %}