{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIPA - Sistema de Planos de Ação</title>
    <link rel="icon" href="{% static 'img/logo_barra.jpg' %}">
    
    <!-- SCSS -->
    {% compress css %}
    <!-- <link type="text/x-scss" rel="stylesheet" href="{% static 'site.scss' %}" media="screen"> -->
    <link type="text/x-scss" rel="stylesheet" href="{% static 'scss/responsive.scss' %}" media="screen">
    {% endcompress %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'site.css' %}">
    
    <!-- ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.css">
    
    <!-- TEMPUS DOMINUS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" /> -->

    <!-- Active js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/menu_accordion.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/planos_de_acao.js' %}"></script>
    <script src="{% static 'js/mensagens.js' %}"></script>
    <script src="{% static 'js/plano_accordion.js' %}"></script>
    <script src="{% static 'js/forms.js' %}"></script>
    <script src="{% static 'js/menu_impressao.js' %}"></script>
    <script src="{% static 'js/number_input.js' %}"></script>
    <script src="{% static 'js/cadastros_escola.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/responsivo.js' %}"></script>
    
    <!-- MEDIA DO TEMPUS DOMINUS -->
    {{ chave_form_ordem.media }}

</head>
<body>

  {% include 'partials/header.html' %}

  {% include 'partials/navbar.html' %}

  <div class="classe-container-central">

  {% include 'partials/menu.html' %}

  <!-- CORPO -->
    <div class="classe-div-container-corpo">

      {% block content %}{% endblock %}

    </div>
  <!-- FIM CORPO -->
  
  </div>
  {% include 'partials/footer.html' %}

  

         <!-- SCRIPTS -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <script src="{% static 'js/canvas.js' %}"></script>
         <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script> -->
         <!-- FIM SCRIPTS -->
  </body>
  </html>