{% extends 'base.html' %}
{% load static %}
{% block content %}

{{ chave_tipo_usuario|json_script:"id-tipo-usuario" }}

<div class="box-geral-cadastros">

    <div class="box-cadastro1">
        <div class="box-plano1-1">
            {% if user.groups.get.name == 'Secretaria' or user.groups.get.name == 'Func_sec' %}
            <h5><i class="fas fa-chart-bar margem-icones-menu"></i>ESCOLAS CADASTRADAS</h5>
            {% elif user.groups.get.name == 'Diretor_escola' %}
            <h5><i class="fa fa-user margem-icones-menu"></i>FUNCIONÁRIOS CADASTRADOS</h5>
            {% endif %}
        </div>

        {% if messages %}
        <ul class="ul-mensagens">
            {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{{ message.tags }} li-mensagens"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="box-plano1-2">
            {% if user.groups.get.name == 'Secretaria' or user.groups.get.name == 'Func_sec' %}
            <h5>Nome da escola:</h5>
            <h5>Município:</h5>
            <h5>Diretor(a) atual:</h5>
            <h5></h5>
            {% elif user.groups.get.name == 'Diretor_escola' %}
            <h5>Nome do funcionário</h5>
            <h5>Cargo</h5>
            <h5></h5>
            {% endif %}
        </div>
        {% if user.groups.get.name == 'Secretaria' or user.groups.get.name == 'Func_sec' %}
        {% for elemento in escolas_a_exibir %}
        <div class="div-cards-planos">
            <div class="cards-planos">
                <p class="clear-2 itens-cards-planos">
                    <a href="#">
                        <i class="fas fa-graduation-cap margem-icones-menu"></i>{{elemento.user.last_name}}
                    </a>
                </p>
                <p class="clear-2 itens-cards-planos">
                    <a href="#">
                        <i class="fas fa-school margem-icones-menu"></i>{{elemento.municipio}}
                    </a>
                </p>
                <p class="clear-2 itens-cards-planos">
                    <i class="fa fa-user margem-icones-menu"></i></i>{{elemento.user.first_name}}
                </p>
                <p class="clear-2 itens-cards-planos">
                    <a href="#">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
        {% endfor %}
        {% elif user.groups.get.name == 'Diretor_escola' %}
            {% for elemento in funcionarios_a_exibir %}
            <div class="div-cards-planos">
                <div class="cards-planos">
                    <p class="clear-2 itens-cards-planos">
                        <a href="#">
                            <i class="fa fa-user margem-icones-menu"></i>{{elemento.user.first_name}}
                        </a>
                    </p>
                    <p class="clear-2 itens-cards-planos">
                        <a href="#">
                            - {{elemento.user.last_name}}
                        </a>
                    </p>
                    <p class="clear-2 itens-cards-planos">
                        <a href="{% url 'deletando_funcionario' elemento.id %}" onclick="return confirm('Deseja realmente excluir o funcionário: {{ elemento.user.first_name }}, definitivamente?')">
                            <i class="fa fa-trash lixeira" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
            {% endfor %}
            {% if not funcionarios_a_exibir %}
                <div class="cards-planos">
                    <p class="clear-2 itens-cards-planos">
                        Não há funcionarios cadastrados ainda.
                    </p>
                </div>
            {% endif %}
        {% endif %}

    </div>


    
    {% if user.groups.get.name == 'Secretaria' %}
    <div class="box-botao-cadastro1">
        <a id="chama-form-cadastro-escolas" class="myButton a-cadastros">Novo cadastro</a>
    </div>
    {% elif user.groups.get.name == 'Diretor_escola' %}
    <div class="box-botao-cadastro1">
        <a id="chama-form-cadastro-funcionario" class="myButton a-cadastros">Novo cadastro</a>
    </div>
    {% endif %}
</div>

{% include 'partials/modal-partial.html' %}




{% endblock %}


        