{% extends 'base.html' %}
{% load static %}
{% block content %}

{{ chave_tipo_usuario|json_script:"id-tipo-usuario" }}

<div class="box-geral-cadastros">

    <div class="box-cadastro1">
        <div class="box-plano1-1 display-flex">
            {% if user.classificacao.tipo_de_acesso == 'Secretaria' or user.classificacao.tipo_de_acesso == 'Func_sec' %}
                {% if not chave_cad_funcionarios %}

                <h5><i class="fas fa-chart-bar margem-icones-menu"></i>ESCOLAS CADASTRADAS</h5>

                <form class="tooltip5" action="{% url 'pesquisa_cadastro_escolas' user.id 'search' %}" method="POST">
                    {% csrf_token %}
                    <input class="search-bar" type="text" placeholder="Pesquisar..." name="campo">
                    <!-- <span style="left: 40px;" class="tooltiptext5">Pesquisar planos.</span> -->
                    <button class="botao-pesquisa" type="submit"><i class="fas fa-search margem-icones-menu"></i></button>                                  
                </form>

                {% else %}

                <h5><i class="fa fa-user margem-icones-menu"></i>FUNCIONÁRIOS CADASTRADOS</h5>

                <form class="tooltip5" action="{% url 'pesquisa_cadastro_funcionarios' user.id 'sim' 'search' %}" method="POST">
                    {% csrf_token %}
                    <input class="search-bar" type="text" placeholder="Pesquisar..." name="campo">
                    <!-- <span style="left: 40px;" class="tooltiptext5">Pesquisar planos.</span> -->
                    <button class="botao-pesquisa" type="submit"><i class="fas fa-search margem-icones-menu"></i></button>                                  
                </form>

                {% endif %}
            {% endif %}
        </div>

        {% if messages %}
        <ul class="ul-mensagens">
            {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{{ message.tags }} li-mensagens"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="box-plano1-2">
            {% if user.classificacao.tipo_de_acesso == 'Secretaria' or user.classificacao.tipo_de_acesso == 'Func_sec' %}
                {% if not chave_cad_funcionarios %}
                <h5>Nome da escola:</h5>
                <h5>Município:</h5>
                <h5>Diretor(a) atual:</h5>
                {% if user.classificacao.tipo_de_acesso == 'Secretaria' %}
                <h5></h5>
                {% endif %}
                {% else %}
                <h5>Nome do funcionário</h5>
                <h5>Cargo</h5>
                    {% if user.classificacao.assina_plano == True %}
                    <h5>Tipo de cargo</h5>
                    <h5></h5>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        {% if user.classificacao.tipo_de_acesso == 'Secretaria' or user.classificacao.tipo_de_acesso == 'Func_sec' %}
            {% if not chave_cad_funcionarios %}
                {% for elemento in escolas_a_exibir %}
                <div class="div-cards-planos">
                    <div class="cards-planos">
                        <p class="clear-2 itens-cards-planos">
                            <a href="#" class="tooltip5">
                                <i class="fas fa-graduation-cap margem-icones-menu"></i>{{elemento.user.last_name|truncatechars:30}}
                                <span class="tooltiptext5" style="left: 100px; width: 300px">{{elemento.user.last_name}}</span>
                            </a>
                        </p>
                        <p class="clear-2 itens-cards-planos">
                            <a href="#">
                                <i class="fas fa-school margem-icones-menu"></i>{{elemento.municipio}}
                            </a>
                        </p>
                        <p class="clear-2 itens-cards-planos">
                            <i class="fa fa-user margem-icones-menu"></i>{{elemento.user.first_name}}
                        </p>
                        {% if user.classificacao.tipo_de_acesso == 'Secretaria' %}
                        <p class="clear-2 itens-cards-planos">
                            <a href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% else %} <!-- SE PÁGINA ESTIVER EM MODO DE CADASTRO DE FUNCIONARIOS -->
                {% for elemento in funcionarios_a_exibir %}
                <div class="div-cards-planos">
                    <div class="cards-planos">
                        <!-- POSIÇÃO 1 NOME -->
                        <p class="clear-2 itens-cards-planos">
                            <a href="#">
                                <i class="fa fa-user margem-icones-menu"></i> {{elemento.user.first_name}}
                            </a>
                        </p>
                        <!-- POSIÇÃO 2 CARGO -->
                        <p class="clear-2 itens-cards-planos">
                            <a href="#">
                                - {{elemento.user.last_name}}
                            </a>
                        </p>
                        <!-- POSIÇÃO 3 TIPO DE CARGO -->
                        {% if elemento.user.classificacao.assina_plano %}
                        <p class="clear-2 itens-cards-planos">
                            <a href="#">
                                - Alto cargo
                            </a>
                        </p>
                        {% else %}
                        <p class="clear-2 itens-cards-planos">
                            <a href="#">
                                - Padrão
                            </a>
                        </p>
                        {% endif %}
                        <!-- POSIÇÃO 4 ALTERA TIPO CARGO e LIXEIRA -->
                        {% if user.classificacao.tipo_de_acesso == 'Secretaria' or user.classificacao.tipo_de_acesso == 'Func_sec' and user.classificacao.assina_plano == True %}
                        <p class="clear-2 itens-cards-planos">

                            <a  href="{% url 'abre_altera_cargo' elemento.id %}">
                                <i class="fas fa-edit margem-icones-menu"></i>
                            </a>

                            <a href="{% url 'deletando_funcionario' elemento.id %}" onclick="return confirm('Deseja realmente excluir o funcionário: {{ elemento.user.first_name }}, definitivamente?')">
                                <i class="fa fa-trash lixeira" aria-hidden="true"></i>
                            </a>
                        </p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% endif %}

            
            {% if not chave_cad_funcionarios %}
                {% if chave_var_pesquisa_escola %}
                    {% if not escolas_a_exibir %}
                        <div class="cards-planos">
                            <p class="clear-2 itens-cards-planos">
                                Não existem escolas que correspondam à pesquisa atual...
                            </p>
                        </div>
                    {% endif %}
                {% else %}
                    {% if not escolas_a_exibir %}
                        <div class="cards-planos">
                            <p class="clear-2 itens-cards-planos">
                                Não existem escolas cadastradas ainda...
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
            {% elif chave_cad_funcionarios %}
                {% if chave_var_pesquisa_func %}
                    {% if not funcionarios_a_exibir %}
                        <div class="cards-planos">
                            <p class="clear-2 itens-cards-planos">
                                Não existem funcionários que correspondam à pesquisa atual...
                            </p>
                        </div>
                    {% endif %}
                {% else %}
                    {% if not funcionarios_a_exibir %}
                        <div class="cards-planos">
                            <p class="clear-2 itens-cards-planos">
                                Não existem funcionários cadastrados ainda...
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}

        {% endif %}
    </div>


    
    {% if user.classificacao.tipo_de_acesso == 'Secretaria' or user.classificacao.tipo_de_acesso == 'Func_sec' and user.classificacao.assina_plano == True %}
        {% if not chave_cad_funcionarios %}
        <div class="box-botao-cadastro1">
            <a id="chama-form-cadastro-escolas" class="myButton a-cadastros">Novo cadastro</a>
        </div>
        {% else %}
        <div class="box-botao-cadastro1">
            <a id="chama-form-cadastro-funcionario" class="myButton a-cadastros">Novo cadastro</a>
        </div>
        {% endif %}
    {% endif %}
</div>

{% include 'partials/modal-partial.html' %}
{% include 'partials/modal-confirma.html' %}




{% endblock %}


        