{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="box-noticias1">
    {% if user.classificacao.primeira_senha %}
    <div class="box-plano1-3">
        {% if not user.email %}
        <p>Você não tem um e-mail cadastrado, <a href="{% url 'abre_altera_mail' user.id 'chng_mail' %}"> cadastrar e-mail!</a> </p>
        {% endif %}
        <p>Usuário novo? Cadastre uma nova senha, <a href="{% url 'reset_password' %}"> alterar senha!</a> </p>
    </div>
    {% endif %}
    <div class="box-noticias1-1">
        <i class="fas fa-newspaper fa-2x margem-icones-menu"></i>
        <h5>ULTIMAS ATUALIZAÇÕES</h5>
    </div>
    
    <div class="div-cards-noticias">
        {% if chave_escolas_sem_diretor %}
            {% for escola in chave_escolas_sem_diretor %}
            <div class="card-noticia">
                <div class="sub-card-noticia1">
                    <div class="sub-card-noticia1-img">
                        <i class="fas fa-graduation-cap fa-9x"></i>
                    </div>
                </div>
                <div class="sub-card-noticia2">
                    <div class="sub2-card-noticia">
                        <h2>{{escola.user.last_name}}</h2>
                        <p>Não possui um(a) diretor(a) cadastrado(a)</p>
                        <a class="" href="#" style="font-size: 12px;padding-left: 0;"> (cadastrar)</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <div class="card-noticia">
            <div class="sub-card-noticia1">
                <div class="sub-card-noticia1-img">
                    <i class="far fa-image fa-9x"></i>
                </div>
            </div>
            <div class="sub-card-noticia2">
                <div class="sub2-card-noticia">
                    <h2>PLANO 2021</h2>
                    <p>Situação: Em desenvolvimento</p>
                </div>
            </div>
        </div>
        <div class="card-noticia">
            <div class="sub-card-noticia1">
                <div class="sub-card-noticia1-img">
                    <i class="far fa-image fa-9x"></i>
                </div>
            </div>
            <div class="sub-card-noticia2">
                <div class="sub2-card-noticia">
                    <h2>PLANO 2020</h2>
                    <p>Situação: Enviado (Pendente)</p>
                </div>
            </div>
        </div>
        <div class="card-noticia">
            <div class="sub-card-noticia1">
                <div class="sub-card-noticia1-img">
                    <i class="far fa-image fa-9x"></i>
                </div>
            </div>
            <div class="sub-card-noticia2">
                <div class="sub2-card-noticia">
                    <h2>PLANO 2019</h2>
                    <p>Situação: Aprovado em 16/04/2019</p>
                </div>
            </div>
        </div>
        <div class="card-noticia">
            <div class="sub-card-noticia1">
                <div class="sub-card-noticia1-img">
                    <i class="far fa-image fa-9x"></i>
                </div>
            </div>
            <div class="sub-card-noticia2">
                <div class="sub2-card-noticia">
                    <h2>CADASTRO REALIZADO</h2>
                    <p>Membro do colegiado: Judith</p>
                </div>
            </div>
        </div>
        <div class="card-noticia">
            <div class="sub-card-noticia1">
                <div class="sub-card-noticia1-img">
                    <i class="far fa-image fa-9x"></i>
                </div>
            </div>
            <div class="sub-card-noticia2">
                <div class="sub2-card-noticia">
                    <h2>CADASTRO REALIZADO</h2>
                    <p>Tesoureiro(a): Joãozinho</p>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}




  






        