{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}

<div class="box-noticias1">
    {% if user.classificacao.primeira_senha %}
    <div class="titulo-wrapper-laranja box-plano1-3">
        {% if not user.email %}
        <p>Você não tem um e-mail cadastrado, <a href="{% url 'abre_altera_mail' user.id 'chng_mail' %}"> cadastrar e-mail!</a> </p>
        {% endif %}
        <p>Usuário novo? Cadastre uma nova senha, <a href="{% url 'reset_password' %}">alterar senha!</a> </p>
    </div>
    {% endif %}
    {% if user.classificacao.tipo_de_acesso == 'Secretaria' %}
    {% tag_nao_existe_coordenador_cadastrado as existe_coordenador %}
    <div class="titulo-wrapper-laranja box-plano1-3">
        {% if not user.classificacao.escola.diretor %}
        <p>Cadastre um usuário para o(a) diretor(a) da SUPROT. <a href="{% url 'cadastrar_funcionarios_secretaria' user.id 'Sim' %}"> aqui!</a></a> </p>
        {% endif %}
        {% if not existe_coordenador %}
        <p>Cadastre ao menos 1 (um) usuário de coordenador(a) da SUPROT. <a href="{% url 'cadastrar_funcionarios_secretaria' user.id 'Sim' %}"> aqui!</a></a> </p>
        {% endif %}
    </div>
    {% elif user.classificacao.cargo_herdado == 'Diretor SUPROT' %}
    {% tag_nao_existe_coordenador_cadastrado as existe_coordenador %}
    <div class="titulo-wrapper-laranja box-plano1-3">
        {% if not existe_coordenador %}
        <p>Cadastre ao menos 1 (um) usuário de coordenador(a) da SUPROT. <a href="{% url 'cadastrar_funcionarios_secretaria' user.id 'Sim' %}"> aqui!</a></a> </p>
        {% endif %}
    </div>
    {% endif %}
    <div class="titulo-wrapper box-noticias1-1">
        <i class="fas fa-newspaper fa-2x margem-icones-menu"></i>
        <h4>ULTIMAS ATUALIZAÇÕES</h4>
    </div>
    <!-- <a class="" href="{% url 'enviando_email' %}" style="font-size: 12px;">(link teste)</a> -->
    <div class="div-cards-noticias">
        {% if user.groups.get.name == 'Func_sec' %}
            {% if chave_atualizacoes %}
                {% for item in chave_atualizacoes %}
                    {% if item|tipo_de_objeto == 'Escola' %}
                        <div class="wrapper card-noticia">
                            <div class="sub-card-noticia1">
                                <div class="sub-card-noticia1-img">
                                    <i class="fas fa-graduation-cap fa-7x"></i>
                                </div>
                            </div>
                            <div class="sub-card-noticia2">
                                <div class="sub2-card-noticia">
                                    <h2>{{item.nome}}</h2>
                                    <p>Não possui um(a) diretor(a) cadastrado(a)</p>
                                    <a class="" href="{% url 'chama_cadastros_secretaria' %}" style="font-size: 12px;padding-left: 0;"> (cadastrar)</a>
                                </div>
                            </div>
                        </div>
                    {% elif item|tipo_de_objeto == 'Classificacao' %}
                        <div class="wrapper card-noticia">
                            <div class="sub-card-noticia1">
                                <div class="sub-card-noticia1-img">
                                    <i class="fa fa-user fa-10x" style="margin-bottom: 5px"></i>
                                </div>
                            </div>
                            <div class="sub-card-noticia2">
                                <div class="sub2-card-noticia">
                                    <h2>{{item.user.first_name}}</h2>
                                    <p>Solicitada exclusão deste diretor(a) escolar</p>
                                    <p>por: {{item.remocao_solicitante}} </p> <a class="" href="{% url 'profile_escola' item.escola.pk %}" style="font-size: 12px;padding-left: 0;">(conferir)</a>
                                </div>
                            </div>
                        </div>
                    {% elif item|tipo_de_objeto == 'Plano_de_acao' %}
                        <div class="wrapper card-noticia">
                            <div class="sub-card-noticia1">
                                <div class="sub-card-noticia1-img">
                                    <i class="far fa-image fa-9x"></i>
                                </div>
                            </div>
                            <div class="sub-card-noticia2">
                                <div class="sub2-card-noticia">
                                    <h2>Plano: {{item.ano_referencia}}</h2>
                                    <p>Situação: {{item.situacao}}</p>
                                    <p>Escola: {{item.escola}}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
            <div class="cards-planos">
                <p class="clear-2 itens-cards-planos">
                    Sem atualizações no momento...
                </p>
            </div>
            {% endif %}


        {% elif user.groups.get.name == 'Diretor_escola' or user.groups.get.name == 'Funcionario' %}
            {% if chave_atualizacoes %}
                {% for item in chave_atualizacoes %}
                    {% if item|tipo_de_objeto == 'Escola' %}
                    <!-- pass -->
                    {% elif item|tipo_de_objeto == 'Classificacao' %}
                    <!-- pass -->
                    {% elif item|tipo_de_objeto == 'Plano_de_acao' %}
                        <div class="wrapper card-noticia">
                            <div class="sub-card-noticia1">
                                <div class="sub-card-noticia1-img">
                                    <i class="far fa-image fa-9x"></i>
                                </div>
                            </div>
                            <div class="sub-card-noticia2">
                                <div class="sub2-card-noticia">
                                    <h2>Plano: {{item.ano_referencia}}</h2>
                                    <p>Situação: {{item.situacao}}</p>
                                    <p>Escola: {{item.escola}}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="cards-planos">
                    <p class="clear-2 itens-cards-planos">
                        Sem atualizações no momento...
                    </p>
                </div>
            {% endif %}
        {% elif user.groups.get.name == 'Secretaria' %}
            <div class="cards-planos">
                <p class="clear-2 itens-cards-planos">
                    Sem atualizações no momento...
                </p>
            </div>
        {% endif %}
    <!-- ##### Pagination ##### -->
        <section class="top-catagory-area section-padding-20-0">
            <div class="classe-pagination">
                
                <ul class="pagination">
                    {% if chave_atualizacoes.has_previous %}
                        <li class="page-item">
                            <a href="?page={{chave_atualizacoes.previous_page_number}}" class="page-link">&laquo;</a>
                        </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    {% endif %}
                    
                    <li class="page-item active">
                        <a class="page-link a-clear-href" style="cursor: default;">{{chave_atualizacoes.number}}</a>
                    </li>
                
                    {% if chave_atualizacoes.has_next %}
                    <li class="page-item">
                        <a href="?page={{chave_atualizacoes.next_page_number}}" class="page-link">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                    {% endif %}
                    
                </ul>
                
            </div>
        </section>
    <!-- ##### Pagination End ##### -->
    </div>
</div>





{% endblock %}




  






        