{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="box-noticias1">
    <div class="box-noticias1-1">
        <i class="fas fa-newspaper fa-2x margem-icones-menu"></i>
        <h5>ULTIMAS ATUALIZAÇÕES</h5>
    </div>
    
    <div class="div-cards-noticias">
        <div class="card-noticia">
            <div class="sub-card-noticia1">
                <div class="sub-card-noticia1-img">
                    <i class="far fa-image fa-9x"></i>
                </div>
            </div>
            <div class="sub-card-noticia2">
                <div class="sub2-card-noticia">
                    <h2>PLANO 2021</h2>
                    <p>Situação: Em desenvolvimento</p>
                </div>
            </div>
        </div>
        <div class="card-noticia">
            <div class="sub-card-noticia1">
                <div class="sub-card-noticia1-img">
                    <i class="far fa-image fa-9x"></i>
                </div>
            </div>
            <div class="sub-card-noticia2">
                <div class="sub2-card-noticia">
                    <h2>PLANO 2020</h2>
                    <p>Situação: Enviado (Pendente)</p>
                </div>
            </div>
        </div>
        <div class="card-noticia">
            <div class="sub-card-noticia1">
                <div class="sub-card-noticia1-img">
                    <i class="far fa-image fa-9x"></i>
                </div>
            </div>
            <div class="sub-card-noticia2">
                <div class="sub2-card-noticia">
                    <h2>PLANO 2019</h2>
                    <p>Situação: Aprovado em 16/04/2019</p>
                </div>
            </div>
        </div>
        <div class="card-noticia">
            <div class="sub-card-noticia1">
                <div class="sub-card-noticia1-img">
                    <i class="far fa-image fa-9x"></i>
                </div>
            </div>
            <div class="sub-card-noticia2">
                <div class="sub2-card-noticia">
                    <h2>CADASTRO REALIZADO</h2>
                    <p>Membro do colegiado: Judith</p>
                </div>
            </div>
        </div>
        <div class="card-noticia">
            <div class="sub-card-noticia1">
                <div class="sub-card-noticia1-img">
                    <i class="far fa-image fa-9x"></i>
                </div>
            </div>
            <div class="sub-card-noticia2">
                <div class="sub2-card-noticia">
                    <h2>CADASTRO REALIZADO</h2>
                    <p>Tesoureiro(a): Joãozinho</p>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}




  






        