{% extends 'base-despesas-visualizacao.html' %}
{% load static %}
{% load definir_acoes %}
{% load custom_tags %}
{% load humanize %}
{% block content %}

{{ chave_lista_codigos|json_script:"id-lista-todos-codigos" }}
{{ chave_lista2_codigos|json_script:"id-lista-codigos-correcao" }}
{{ chave_sugestoes_despesas_concluidas|json_script:"id-chave-sugestoes-despesas-concluidas" }}
{{ chave_devolvido|json_script:"id-chave-devolvido" }}
{{ chave_tipo_usuario|json_script:"id-tipo-usuario" }}
{{ chave_situacao_plano|json_script:"id-situacao-plano" }}
{{ chave_q_linha|json_script:"id-q-linha" }}
{{ chave_apos_print|json_script:"id-apos-print" }}

<div id="imprimir" class="div-visualizacao-bloco">

    {% if messages %}
    <ul class="ul-mensagens" style="padding: 0%;">
        {% for message in messages %}
        <li{% if message.tags %} class="alert alert-{{ message.tags }} li-mensagens"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="div-visualizacao-img">
        <img class="visualizacao-img" src="{% static 'img/cabecalho_visualizacaopng.png' %}" alt="">
    </div>

    <table class="div-unidade-bloco tabela-unidade">
    {% if chave_planos2 %}
    {% for plano in chave_planos2 %}
        <tr>
            <td colspan="2"> UNIDADE: {{ plano.usuario.last_name }}</td>
        </tr>
        <tr class="linha-municipio">
            <td>MUNICÍPIO: {{ plano.usuario.classificacao.municipio }}</td>
            <td>DIREC: {{ plano.usuario.username }}</td>
        </tr>
        
    </table>

    <table class="div-unidade-bloco tabela-unidade">
            {% for turma in chave_turmas_associadas %}
            <tr>
                <td>Turma</td>
                <td>{{turma.nome}}</td>
                <td>Qtde de alunos</td>
                <td>{{turma.quantidade_alunos}}</td>
            </tr>
            {% endfor %}
    </table>

    <div class="titulo-plano">
        <p>PLANO: {{ chave_planos.ano_referencia }}</p>
        <p>2 - DETALHAMENTO DAS DESPESAS</p>
    </div>

    <table class="tabela-principal">
        
        <tr>
            <th style="width: 30px;"> Código </th>
            <th style="width: 295px;"> Especificação das Ações Negociáveis (máximo de detalhamento possível) </th>
            <th style="width: 240px;"> Justificativa para aquisição do item </th>
            <th style="width: 50px;"> Unid/Cx </th>
            <th style="width: 50px;"> Qt. </th>
            <th style="width: 100px;"> Valor Unitário </th>
            <th style="width: 100px;"> Valor Total Capital </th>
            <th style="width: 100px;"> Valor Total Custeio </th>
        </tr>
        
        <!-- GERAÇÃO DOS CODIGOS -->
            {% for codigo in chave_codigos %} <!-- PARA CADA CODIGO DO PLANO COMO UM TODO -->
                <tr class="tr-codigos tr-dinamicos{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}}">
                    
                    {% if user.classificacao.tipo_de_acesso == 'Secretaria' or user.classificacao.tipo_de_acesso == 'Func_sec' %}
                        {% if codigo.possui_sugestao_correcao %}
                        <td style="text-align: center;"> <a class="a-clear-acao tds-trs-{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}} desabilita-js" href="{% url 'chamando_correcao_despesa_plano' plano.id codigo.ordem.id codigo.id %}"><div style="height:100%;width:100%">{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}} <span class="tooltiptext3-tabela"> <i class="fas fa-edit"></i> Alterar correção!</span> </div> </a> </td>
                        {% else %}
                        <td style="text-align: center;"> <a class="a-clear-acao tds-trs-{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}} desabilita-js" href="{% url 'chamando_correcao_despesa_plano' plano.id codigo.ordem.id codigo.id %}"><div style="height:100%;width:100%">{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}} <span class="tooltiptext4-tabela"> <i class="fa-solid fa-arrow-left"></i> Sugerir correção!</span> </div> </a> </td>
                        {% endif %}
                    {% elif user.classificacao.tipo_de_acesso == 'Escola' %}
                        {% if codigo.possui_sugestao_correcao %}
                        <td style="text-align: center;"> <a class="a-clear-acao tds-trs-{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}}" href="{% url 'abrindo_correcao_despesa' plano.id codigo.ordem.identificacao_numerica codigo.identificacao 'Sim' %}"><div style="height:100%;width:100%">{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}} <span class="tooltiptext3-tabela"> <i class="fas fa-edit"></i> Corrigir!</span> </div> </a> </td>
                        {% else %}
                        <td style="text-align: center;"> <a class="a-clear-acao tds-trs-{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}}"><div style="height:100%;width:100%">{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}} </div> </a> </td>
                        {% endif %}
                    {% elif user.classificacao.tipo_de_acesso == 'Funcionario' %}
                        <td style="text-align: center;"> <a class="a-clear-acao tds-trs-{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}}"><div style="height:100%;width:100%">{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}} </div> </a> </td>
                    {% endif %}

                    <td class="td-especificacao-justificativa tds-trs-{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}}"> {{codigo.especificacao}} </td>
                    <td class="td-especificacao-justificativa tds-trs-{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}}"> {{codigo.justificativa}} </td>
                    <td class="tds-trs-{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}}" style="text-align: center;"> {{codigo.embalagem}} </td>
                    <td class="tds-trs-{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}}" style="text-align: center;"> {{codigo.quantidade}} </td>
                    <td class="tds-trs-{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}}" style="text-align: center;"> R$ {{codigo.preco_unitario|intcomma}} </td>
                    <td class="tds-trs-{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}}" style="text-align: center;"> R$ {{codigo.preco_total_capital|intcomma}} </td>
                    <td class="tds-trs-{{codigo.ordem.identificacao_numerica}}{{codigo.identificacao}}" style="text-align: center;"> R$ {{codigo.preco_total_custeio|intcomma}} </td>
                
                </tr>

                <!-- INSERE QUEBRA DE LINHA NA IMPRESSÃO APÓS OS CODIGOS -->
                {% if codigo.quebra_de_linha > 0 %}

                    {% tag_loop1 codigo.quebra_de_linha as valor_linhas %}
                    {% for quantidade in valor_linhas %}
                        <tr class="tr-extra display-none2">
                            <td style="border: none;"> 
                            </td>
                        </tr>
                    {% endfor %}

                {% endif %}
                <!-- ********* -->

            {% endfor %}
        
        

                <tr>
                    <td colspan="6">  </td>
                    <td style="text-align: center;font-size: 14px;font-weight: bold;"> R$ {{var_capital|intcomma}} </td>
                    <td style="text-align: center;font-size: 14px;font-weight: bold;"> R$ {{var_custeio|intcomma}} </td>
                </tr>

                <tr>
                    <td colspan="6", style="font-size: 12px;font-weight: bold;"> VALOR TOTAL DO PLANO </td>
                    <td colspan="2", style="text-align: center;font-size: 16px;font-weight: bold;"> R$ {{var_total|intcomma}} </td>
                </tr>

                
                    
        

        <!-- FIM DA GERAÇÃO DOS CODIGOS -->
        </table>
        <table class="tabela-principal">

        <tr>
            <th colspan="4"> APROVAÇÃO UNIDADE ESCOLAR </th>
            <td colspan="2", rowspan="0", style="width: 100px;">  </td>
            <th colspan="2", rowspan="2"> APROVAÇÃO SUPROT </th>
        </tr>

        <tr>
            {% if chave_planos.data_assinaturas_escola %}
            <td colspan="3" style="text-align: left"> DATA: {{chave_planos.data_assinaturas_escola}} </td>
            {% else %}
            <td colspan="3" style="text-align: left"> DATA: </td>
            {% endif %}
        </tr>

        <tr>
            <th style="width: 100px;"> POSIÇÃO </th>
            <th> NOME </th>
            <th colspan="2", style="width: 200px;"> ASSINATURA </th>
            {% if chave_planos.data_assinaturas_suprof %}
            <td colspan="3" style="text-align: left"> DATA: {{chave_planos.data_assinaturas_suprof}} </td>
            {% else %}
            <td colspan="3" style="text-align: left"> DATA: </td>
            {% endif %}
        </tr>

        <tr>
            <td style="text-align: center;"> Presidente Cx Escolar </td>
            <td style="text-align: center;width: 200px;font-weight: bold;"> {{plano.usuario.first_name}} </td>
            <!-- ASSINATURA DIRETOR -->
            {% if chave_planos.classificacao_set.all %}
            {% tag_any chave_planos.usuario chave_planos.classificacao_set.all as var3 %}
                {% if var3 and plano_aprovado or var3 and chave_planos.alterabilidade == 'Desativada' %}
                    {% if chave_planos.usuario.classificacao.assinatura %}
                    <td colspan="2"> <img class="assinaturas-foto-size" src="{{ chave_planos.usuario.classificacao.assinatura.url }}" alt=""> </td>
                    {% else %}
                    <td colspan="2", class="assinaturas", style="text-align: center;font-style: italic;font-family: Vladimir Script;font-size: 26px;"> {{chave_planos.usuario.first_name}} </td>
                    {% endif %}
                {% else %}
                <td colspan="2", style="text-align: center;">  </td>
                {% endif %}
            {% else %}
                <td colspan="2", style="text-align: center;">  </td>
            {% endif %}
            <!-- ******** -->
            <td colspan="2"> VISTO SUPROT: </td>
        </tr>

        <tr>
            <td style="text-align: center;"> Tesoureiro(a) </td>
            {% for funcionarios in chave_funcionarios %}
                {% if funcionarios.user.last_name == 'Tesoureiro(a)' %}
                <td style="text-align: center;width: 200px;font-weight: bold;"> {{funcionarios.user.first_name}} </td>
                {% endif %}
            {% endfor %}

            <!-- ASSINATURA TESOUREIRO -->
            {% if chave_planos.classificacao_set.all %}
            {% tag_any2 chave_funcionarios chave_planos.classificacao_set.all as var3 %}
                {% if var3 and plano_aprovado or var3 and chave_planos.alterabilidade == 'Desativada' %}
                    {% if var3.user.classificacao.assinatura %}
                    <td colspan="2"> <img class="assinaturas-foto-size" src="{{ var3.user.classificacao.assinatura.url }}" alt=""> </td>
                    {% else %}
                    <td colspan="2", class="assinaturas", style="text-align: center;font-style: italic;font-family: Vladimir Script;font-size: 26px;"> {{var3.user.first_name}} </td>
                    {% endif %}
                {% else %}
                <td colspan="2", style="text-align: center;">  </td>
                {% endif %}
            {% else %}
                <td colspan="2", style="text-align: center;">  </td>
            {% endif %}
            <!-- ********* -->

            <td colspan="2"> CADASTRO: </td>
        </tr>

        {% tag_len_suprof chave_planos.classificacao_set.all as len_suprof %}

        {% set '' as var2 %}
        {% for funcionarios in chave_membros_colegiado %}
        <tr>
            
            {% if not var2 %}
                    {% if varmembros > 0 %}
                    <td rowspan="4", style="text-align: center;"> Membros do colegiado escolar </td>
                    {% else %}
                    <td style="text-align: center;"> Membros do colegiado escolar </td>
                    {% endif %}
                {% endif %}
                
                    {% if funcionarios.user.last_name == 'Membro do colegiado' %}
                    <td style="text-align: center;width: 200px;font-weight: bold;"> {{funcionarios.user.first_name}} </td>
                    
                    <!-- ASSINATURA MEMBROS DO COLEGIADO -->
                    {% if chave_planos.classificacao_set.all %}
                    {% tag_any3 funcionarios chave_planos.classificacao_set.all as var3 %}
                        {% if var3 and plano_aprovado or var3 and chave_planos.alterabilidade == 'Desativada' %}
                            {% if var3.user.classificacao.assinatura %}
                            <td colspan="2"> <img class="assinaturas-foto-size" src="{{ var3.user.classificacao.assinatura.url }}" alt=""> </td>
                            {% else %}
                            <td colspan="2", class="assinaturas", style="text-align: center;font-style: italic;font-family: Vladimir Script;font-size: 26px;"> {{var3.user.first_name}}</td>
                            {% endif %}
                        {% else %}
                        <td colspan="2", style="text-align: center;">  </td>
                        {% endif %}
                    {% else %}
                        <td colspan="2", style="text-align: center;">  </td>
                    {% endif %}
                    <!-- *********** -->
                    
                    {% endif %}

                    
                    <!-- ASSINATURAS FUNC_SEC -->
                    {% if chave_planos.alterabilidade == 'Desativada' %}
                        {% if forloop.counter0 < len_suprof %}
                        {% tag_assinaturas_suprof forloop.counter0 chave_planos.classificacao_set.all as Func_sec %}
                            {% if Func_sec.assinatura %}
                            <td style="text-align: left"> {{Func_sec}} <img class="assinaturas-foto-size display-block" src="{{ Func_sec.assinatura.url }}" alt=""> </td>
                            {% else %}
                            <td style="text-align: left"> {{Func_sec}} <p class="assinaturas assinatura-style", style="text-align: left;font-style: italic;margin: 0;"> {{Func_sec}} </p> </td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <!-- ******** -->
                    

        </tr>

        {% set 'true' as var2 %}
        {% endfor %} 

    {% endfor %}
    {% endif %}
    </table>
</div>




{% include 'partials/modal-partial-correcao.html' %}

{% endblock %}