{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="box-plano1">

    <div class="box-plano1-1 display-flex">

        <h5><i class="fas fa-chart-bar margem-icones-menu"></i>LOG DE EVENTOS</h5>

        <form class="tooltip5" action="{% url 'pagina_log_planos_de_acao_pesquisa' 'search' %}" method="POST">
            {% csrf_token %}
            <input class="search-bar" type="text" placeholder="Pesquisar..." value="{{chave_valor_pesquisa}}" name="campo">
            <!-- <span style="left: 40px;" class="tooltiptext5">Pesquisar planos.</span> -->
            <button class="botao-pesquisa" type="submit"><i class="fas fa-search margem-icones-menu"></i></button>                                  
        </form>

    </div>
    
    <div class="box-plano1-2">
        <h5>Plano de ação</h5>
        {% if user.groups.get.name == 'Secretaria' or user.groups.get.name == 'Func_sec' %}
        <h5>Escola:</h5>
        {% endif %}
        <h5>Situação:</h5>
    </div>
    <div class="div-cards-planos">
        {% if chave_log_planos %}
        {% for elemento in chave_log_planos %}
            <div class="cards-planos">
                <p class="clear-2 itens-cards-planos">
                    <a href="{% url 'chamando_plano' elemento.id %}"><i class="fas fa-eye margem-icones-menu"></i>
                        {{ elemento.ano_referencia }}
                    </a>
                </p>
                {% if user.groups.get.name == 'Secretaria' or user.groups.get.name == 'Func_sec' %}
                <p class="clear-2 itens-cards-planos">
                    <a href="#" class="tooltip5 cursor-default">
                        <i class="fa fa-user margem-icones-menu"></i>{{ elemento.escola.nome|truncatechars:30 }}
                        <span class="tooltiptext5" style="left: 100px; width: 300px">{{elemento.escola.nome}}</span>
                    </a>
                </p>
                <p class="clear-2 itens-cards-planos">
                    <a href="#" class="cursor-default">
                        <i class="fa fa-user margem-icones-menu"></i>{{ elemento.situacao }}
                    </a>
                </p>
                {% elif user.groups.get.name == 'Diretor_escola' %}
                <p class="clear-2 itens-cards-planos">
                    <a href="#" class="cursor-default">
                        {{ elemento.situacao }}
                    </a>
                </p>
                {% elif user.groups.get.name == 'Funcionario' %}
                <p class="clear-2 itens-cards-planos">
                    <a href="#" class="">
                        {{ elemento.situacao }}
                    </a>
                </p>
                {% endif %}


            </div>
        {% endfor %}
        {% else %}
        <div class="cards-planos">
            {% if chave_var_pesquisa %}
                <p class="clear-2 itens-cards-planos">
                   - Não há planos de ações que correspondam à pesquisa atual...
                </p>
            {% else %}
            <p class="clear-2 itens-cards-planos">
                - Ainda não há Planos de ação com históricos disponíveis.
            </p>
            {% endif %}
        </div>
        {% endif %}

    </div>

    <!-- ##### Pagination ##### -->
    <section class="top-catagory-area section-padding-20-0">
        <div class="classe-pagination">
            
            <ul class="pagination">
                {% if chave_log_planos.has_previous %}
                    {% if not chave_var_pesquisa %}
                    <li class="page-item">
                        <a href="?page={{chave_log_planos.previous_page_number}}" class="page-link">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{chave_log_planos.previous_page_number}}&q={{chave_valor_pesquisa|urlencode}}" class="page-link">&laquo;</a>
                    </li>
                    {% endif %}
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
                {% endif %}
                
                <li class="page-item active">
                    <a class="page-link a-clear-href" style="cursor: default;">{{chave_log_planos.number}}</a>
                </li>
            
                {% if chave_log_planos.has_next %}
                    {% if not chave_var_pesquisa %}
                    <li class="page-item">
                        <a href="?page={{chave_log_planos.next_page_number}}" class="page-link">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{chave_log_planos.next_page_number}}&q={{chave_valor_pesquisa|urlencode}}" class="page-link">&raquo;</a>
                    </li>
                    {% endif %}
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
                
            </ul>
            
        </div>
    </section>
    <!-- ##### Pagination End ##### -->

</div>



{% include 'partials/modal-partial.html' %}

{% endblock %}


        