{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}

{{ chave_tipo_usuario|json_script:"id-tipo-usuario" }}

<div class="classe-div-container-corpo classe-div-container-corpo-profile">
<div class="box-plano1">
    {% if user.groups.get.name == 'Secretaria' or user.groups.get.name == 'Func_sec' %}
    <div class="box-plano1-1 display-flex">
        <h5><i class="fas fa-chart-bar margem-icones-menu"></i>MEU ACESSO</h5>
    </div>
    {% elif user.groups.get.name == 'Diretor_escola' %}
        <div class="box-plano1-1 display-flex">
            <h5><i class="fas fa-chart-bar margem-icones-menu"></i>MEU ACESSO</h5>
        </div>
    {% else %}
        <div class="box-plano1-1">
            <h5><i class="fas fa-chart-bar margem-icones-menu"></i>MEU ACESSO</h5>
        </div>
    {% endif %}

    {% if messages %}
        <ul class="ul-mensagens">
            {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{{ message.tags }} li-mensagens"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="box-profile1-1" style="margin-left: 10px">
        <div class="box-profile1-1-1" style="margin-left: 10px">
            <div class="classe-icone-perfil">
            <i class="fa fa-user"></i>
            </div>
            {% if user.classificacao.primeira_senha %}
            <a class="" href="{% url 'reset_password' %}" style="font-size: 12px;">(alterar senha)</a>
            <!-- <a class="" href="{% url 'enviando_email' %}" style="font-size: 12px;">(teste email)</a> -->
            {% endif %}
        </div>
        <div class="box-profile1-1-2">
            <div class="box-profile1-1-2-1">
                <h5>Nome: </h5>
                <p>{{user.first_name}}</p>
                {% if not user.classificacao.tipo_de_acesso == 'Secretaria' and user.classificacao.login_original %}
                <a class="" href="{% url 'abre_altera_login' user.id 'alt_login' %}" style="font-size: 12px;padding-left: 0;"> (alterar Login)</a>
                {% endif %}
            </div>
            <div class="box-profile1-1-2-1">
                <h5>Cargo: </h5>
                {% if user.groups.get.name == 'Func_sec' or user.groups.get.name == 'Secretaria'%}
                <p>{{user.last_name}}</p>
                {% elif user.groups.get.name == 'Diretor_escola' %}
                <p>Diretor(a)</p>
                {% elif user.groups.get.name == 'Funcionario' %}
                <p>{{user.last_name}}</p>
                {% endif %}
            </div>
            <div class="box-profile1-1-2-1" style="flex: 1;">
                
            </div>
        </div>
    </div>

    <div class="box-profile1-2 tooltip5" style="margin-left: 10px;display: none;">
        <h5>Nome: </h5>
        <p style="min-width: 170px">{{user.first_name|truncatechars:27}}</p>
        <span class="tooltiptext5" style="left: 100px;width: 200px; min-width: 120px">{{user.first_name}}</span>
        {% if not user.classificacao.tipo_de_acesso == 'Secretaria' and user.classificacao.login_original %}
        <a class="" href="{% url 'abre_altera_login' user.id 'alt_login' %}" style="font-size: 12px;padding-left: 0;"> (alterar Login)</a>
        {% endif %}
    </div>
    <div class="box-profile1-2" style="margin-left: 10px;display: none;">
        <h5>Cargo: </h5>
        {% if user.groups.get.name == 'Func_sec' %}
        <p>{{user.last_name}}</p>
        {% elif user.groups.get.name == 'Diretor_escola' %}
        <p>Diretor(a)</p>
        {% elif user.groups.get.name == 'Funcionario' %}
        <p>{{user.last_name}}</p>
        {% endif %}
    </div>
    <div class="box-profile1-2 tooltip5" style="margin-left: 10px">
        
        {% if user.groups.get.name == 'Func_sec' %}
        <h5>Matriz: </h5>
        <p>{{user.classificacao.matriz}}</p>
        <span class="tooltiptext5" style="left: 100px;width: 200px; min-width: 120px">{{user.classificacao.matriz}}</span>
        {% elif user.groups.get.name == 'Diretor_escola' %}
        <h5>Escola: </h5>
        <p>{{user.classificacao.matriz}}</p>
        <span class="tooltiptext5" style="left: 100px;width: 200px; min-width: 120px">{{user.classificacao.matriz}}</span>
        {% elif user.groups.get.name == 'Funcionario' %}
        <h5>Matriz: </h5>
        <p>{{user.classificacao.matriz}}</p>
        <span class="tooltiptext5" style="left: 100px;width: 200px; min-width: 120px">{{user.classificacao.matriz}}</span>
        {% endif %}
        
    </div>
    <div class="box-profile1-2" style="margin-left: 10px">
        <h5>E-mail: </h5>
        {% if user.classificacao.email_ativado %}
        <p>{{user.email}}</p>
        {% elif not user.email %}
        <p>( Cadastrar e-mail )</p>
        {% else %}
        <p>( Verifique sua caixa de entrada )</p>
        {% endif %}
        <a class="" href="{% url 'abre_altera_mail' user.id 'chng_mail' %}" style="font-size: 12px;padding-left: 2px;"> (alterar/confirmar)</a>
    </div>
    <div class="box-profile1-2" style="margin-left: 10px;border: none;">
        {% if not user.groups.get.name == 'Secretaria' %}
            <h5>Assinatura: </h5>
            {% if user.classificacao.assinatura %}
            <img class="" src="{{ user.classificacao.assinatura.url }}" alt="">
            {% else %}
            {% tag_first_last_names user.first_name as nome_em_lista %}
            <h4 class="assinatura-style">{{nome_em_lista|first}} {{nome_em_lista|last}}</h4>
            {% endif %}
            <a class="" href="{% url 'abre_altera_assinatura' user.id 'alt_sign' %}" style="font-size: 12px;padding-left: 2px;"> (alterar)</a>
        {% endif %}
    </div>
        
    

    <div class="div-cards-planos">
        
        <div class="cards-planos-box">

            <div class="cards-planos border-0">
                    

            </div>

        </div>
            

    </div>


</div>

</div>

{% include 'partials/modal-confirma.html' %}
{% include 'partials/modal-partial-edicao.html' %}






{% endblock %}


        