$text-color: #475156;
$border-color: #b1b7b9;

@mixin responsive-type($min-size, $max-size, $min-width, $max-width) {
  $slope: ($max-size - $min-size) / ($max-width - $min-width);
  font-size: calc((100vw - #{$min-width}) * #{$slope} + #{$min-size});
  
  @media (max-width: $min-width) {
    font-size: $min-size;
  }
  @media (min-width: $max-width) {
    font-size: $max-size;
  }
}

.wrapper {
  @include responsive-type(12px, 38px, 400px, 1280px);
}