@mixin responsive-type($min-size, $max-size, $min-width, $max-width) {
  $slope: ($max-size - $min-size) / ($max-width - $min-width);
  font-size: calc((100vw - #{$min-width}) * #{$slope} + #{$min-size});
  
  @media (max-width: $min-width) {
    font-size: $min-size;
  }
  @media (min-width: $max-width) {
    font-size: $max-size;
  }
}

.wrapper {
  @include responsive-type(11px, 40px, 600px, 7000px);
}

.titulo-wrapper {
  @include responsive-type(13px, 40px, 600px, 4000px);
}

// .titulo-wrapper2 {
//   @include responsive-type(13px, 40px, 600px, 4000px);
// }