{% load static %}
{% load widget_tweaks %}

{% if contexto_extra_fia %}
<div class="div-form-fia" style="display: block;">
{% else %}
<div class="div-form-fia">
{% endif %}
    <div class="titulo-modal">
        <h2>Formulário de Inclusão de Ações - FIA</h2>
    </div>
    <div class="classe-form-modal">
        <form class="form-modal" action="{% url 'criando_fia' %}" method="POST">
        {% csrf_token %}
        {% for elemento in chave_form_fia.visible_fields %}
        <div class="linha-input linha-input-row">
            <label class="label-input label-input-form-django" for="{{ elemento.id_for_label }}">{{ elemento.label }}</label>
            {{elemento|add_class:'input-input'}}
        </div>
        {% for error in elemento.errors %}
        <section class="alert alert-danger" role="alert"> {{ elemento.errors }} </section>
        {% endfor %}

        {% endfor %}
        <div class="linha-submit">
            <input class="myButton" type="submit" value="Criar FIA"></input>
        </div>
        </form>
    </div>
</div>
